<fieldset class="usa-fieldset">
  <%= form.input :name, label: "Name".html_safe, label_html: { class: 'usa-label usa-input-required' }, input_html: { class: 'usa-input' } %>

  <%= form.input :agency_id,
                   input_html: { class: 'usa-select' },
                   collection: @agencies,
                   label: 'Agency'.html_safe,
                   label_html: { class: 'usa-input-required'},
                   hint: "The federal agency you would like this team to be assigned to.<p class='margin-0'>#{ extra_message }".html_safe,
                   required: agency_required %>

  <%= form.input :description, label: "Description".html_safe, label_html: { class: 'usa-label margin-top-2' }, input_html: { class: 'usa-textarea' } %>

  <span class="usa-label margin-bottom-1">Users</span>
 <%= form.hint "Select members to add to this team. Or add a new member's email." %>
  <%= form.collection_check_boxes( :user_ids,
                                 current_user.admin? ? User.all.sorted : User.select { |u| u.teams.include?(@team) },
                                 :id, :email,
                                 collection_wrapper_tag: :ul,
                                 collection_wrapper_class: 'usa-input-list',
                                 item_wrapper_tag: :li ) do |b| %>
        <%=  b.check_box(class: "usa-checkbox__input", disabled: b.object == current_user && !current_user.admin?) %>
        <%=  b.label(class: "usa-checkbox__label")%>
    <% end %>


  <%= simple_fields_for :new_user do |form| %>
    <%= form.input :email, label: "Add another team member's email".html_safe, label_html: { class: 'usa-label' }, input_html: { class: 'usa-input' }, required: false %>
  <% end %>

</fieldset>

