<%= page_heading 'New team' %>
<p class='usa-intro'>Create a new team and start creating configurations.</p>
<%= simple_form_for(@team,
    html: { autocomplete: 'off', class: 'usa-form usa-form--large' },
    url: teams_path) do |form| %>
  <%= form.error_notification %>
  <%= render 'form', form: form, agency_required: true, extra_message: nil %>
  <%= form.button :submit, 'Create', :class => "usa-button" %>
<% end %>
