
<ul class="usa-list usa-list--unstyled">
  <li><%= link_to "Back to Teams", teams_path, :class => 'usa-link'  %> </li>
</ul>

<h1 class="usa-display">Team details for "<%= @team.name %>" </h1>

<h2><label for="agency">Agency:</label></h2>
<p class="font-mono-xs margin-top-0" name="agency"><%= @team&.agency&.name %></p>

<h2><label for="description">Description:</label></h2>
<p class="font-mono-xs margin-top-0" name="description"><%= @team.description %></p>

<h2><label for="users">Users: (<%= @team.users.count %>)</label></h2>
<ul class="font-mono-xs margin-top-0 usa-list usa-list--unstyled" name="users">
  <% @team.users.each do |u| %>
    <li><%= u.email %></li>
  <% end %>
</ul>

<%= link_to(
  "Manage users",
  team_users_path(@team),
  class: 'margin-y-1 display-block',
) %>

<h2><label for="apps">Apps: (<%= @team.service_providers.count %>)</label></h2>
<ul class="font-mono-xs margin-top-0 usa-list usa-list--unstyled" name="apps">
  <% @team.service_providers.each do |a| %>
    <li><%= link_to a.friendly_name, service_provider_path(a) %></li>
  <% end %>
</ul>
<%= button_to "Edit", edit_team_path, class: 'usa-button margin-top-4', method: :get %>

<% if current_user.admin? %>
  <div class="usa-accordion">
    <button class="usa-accordion__button margin-top-105" aria-expanded="false" aria-controls="auditEvents">
      <h3 id="auditEventsToggle" class="usa-accordion__heading">Team Users History (<%= @audit_events.count %>) </h3>
    </button>
    <div id="auditEvents" class="usa-accordion__content">
      <% if @audit_events.any? %>
        <table class="usa-table width-full">
          <thead>
            <tr>
              <th scope="col">Action</th>
              <th scope="col">User ID</th>
              <th scope="col">User email</th>
              <th scope="col">Date</th>
              <th scope="col">Who did it</th>
            </tr>
          </thead>
          <tbody>
            <% @audit_events.reverse.each do |v| %>
              <tr>
                <td><%= v.action %></td>
                <td><%= v.user_id %></td>
                <td><%= v.user_email %></td>
                <td><%= v.date %></td>
                <td><%= v.whodunnit %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
<% end %>