<%= form_with do |form| %>
    <div class="usa-form--large">
        <fieldset class="usa-fieldset">
            <div>
                <%= form.label :auth_url, "Auth URL", class: "usa-label usa_textarea" %>
                <%= form.text_area :auth_url, class: "block col-12 optional usa-textarea"
                %>
                <div class="usa-form-hint">Paste the entire URL of the auth request. If the signature is included in the SAML itself, you can also just paste the contents of the SAMLRequest parameter.</div>
            </div>
            <div>
                <%= form.label :cert, "Public Certificate (optional)", class: "usa-label usa_textarea optional usa-input-optional" %>
                <%= form.text_area :cert, class: "block col-12 optional usa-textarea" %>
                <div class="usa-form-hint">Paste your application's public certificate (in PEM format).</div>
            </div>
        </fieldset>

        <div class="margin-top-2">
            <%= form.submit 'Validate', :class => "usa-button" %>
        </div>
    </div>
<% end %>