<%= form_with do |form| %>
    <div class="usa-form--large">
        <fieldset class="usa-fieldset">
            <div>
                <%= form.label :auth_url, "Auth URL", class: "usa-label usa_textarea" %>
                <%= form.text_area :auth_url, class: "block col-12 optional usa-textarea", required: true
                %>
                <div class="usa-form-hint">Paste the entire URL of the auth request, which you can capture using your <a href="https://en.wikipedia.org/wiki/Web_development_tools" target="_blank">browser's web developer tools</a>. If you are using a <code>POST</code> instead of a <code>GET</code> request, or if the signature is included in the SAML itself, you can also just paste the contents of the SAMLRequest parameter.</div>
            </div>
            <div>
                <%= form.label :cert, "Public Certificate (optional)", class: "usa-label usa_textarea optional usa-input-optional" %>
                <%= form.text_area :cert, class: "block col-12 optional usa-textarea" %>
                <div class="usa-form-hint">Paste your application's public certificate (in PEM format).</div>
            </div>
        </fieldset>

        <div class="margin-top-2">
            <%= form.submit 'Validate', :class => "usa-button" %>
        </div>
    </div>
<% end %>