<h1>Validate SAML Authentication Request Signature</h1>
<p class="usa-intro">You can use this tool to check whether Login.gov can successfully validate the authentication request signature your application is sending.</p>
<% if @validation_attempted %>
  <hr/>

  <% if !@request.xml_valid? %>
    <div class="usa-alert usa-alert--error">
      <div class="usa-alert__body">
        <h2 class="usa-alert__heading">
          Invalid XML
        </h2>
        <p>
          We could not decode your SAML request. Make sure it is encoded correctly, as described in
          <a href="/documentation?destination=/saml/#auth-request" target="_blank" class="usa-link usa-link--external">our documentation</a>.<br />
          Also note that all other URL parameters need to be properly URL-encoded.
          Read more about URL encoding <a href="https://en.wikipedia.org/wiki/Percent-encoding" target="_blank">here</a>
        </p>
      </div>
    </div>
  <% elsif !@request.signed? %>
    <div class="usa-alert usa-alert--info">
      <div class="usa-alert__body">
        <h2 class="usa-alert__heading">
          Request not signed 
        </h2>
        <p>
          We strongly encourage you to cryptographically sign authentication requests, unless there are technical limitations on your side that prevent this. In addition to providing increased security, this allows for seamless rotation of your application’s public certificate in the future. 
        </p>
      </div>
    </div>
  <% elsif can_view_request_details?(@request.sp) %>
    <div class="usa-alert <%= @request.valid_signature ? "usa-alert--success" : "usa-alert--error"%>">
      <div class="usa-alert__body">
        <h2 class="usa-alert__heading">
          Signature: <%= @request.valid_signature ? "Valid" : "Invalid" %>
        </h2>
        <% if @request.valid_signature %>
          Public Certificate Serial Number:
          <div>
            <code><%= @request.matching_cert_sn.to_s %></code> (int)
          </div>
          <div>
            <code><%= @request.matching_cert_sn.to_s(16) %></code> (hex)
          </div>
        <% else %>
          <% if @request.errors.present? %>
            <h3>Specific request problems found:</h3>
            <ul class="usa-list">
              </li>
              <% @request.errors.each do |error| %>
                <li> <%= error %> </li>
              <% end %>
            </ul>
          <% end %>
          <% if @request.cert_errors.present? %>
            <h3>Specific certificate problems found:</h3>
            <ul class="usa-list">
              </li>
              <% @request.cert_errors&.each do |error| %>
                <li> Certificate with the serial <%= error[:cert] %> has this issue: <%= error[:error_code] %> </li>
              <% end %>
            </ul>
          <% end %>
          <h3>Other issues to look into:</h3>
            <ul class="usa-list">
              <li>
                <span class="text-heavy">No signature:</span> Is the request signed? If not, you should check your application's SAML configuration settings and enable it.
              </li>
              <li>
                <span class="text-heavy">Wrong certificate:</span>
                  If you've pasted a certificate, the certificate may not match the private key used by your application.<br />
                  Otherwise, you need to add the public certificate to your Login.gov configuration that belongs to the private key used by your application.
              </li>
            </ul>
        <% end %>
      </div>
    </div>
  <% else %>
     <div class="usa-alert usa-alert--error"%>
      <div class="usa-alert__body">
        <h2 class="usa-alert__heading">
          You can only view request certificate details if you are a member of the team.
        </h2>
        <% if @request.sp.present? %>
          <p>
            We were able to find a Service Provider that matches your request, but your user is not associated with that
            Service Provider. Please make sure you are signed in as a member of that Service Provider's team and try again.
          </p>
        <% else %>
          <p>
            We were unable to find a Service Provider that matches the issuer passed in via this request. Please double
            check the request and make sure a corresponding Service Provider is configured in the portal.
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
  <% unless @request.xml.nil? %>
    <div>
      <h3>SAML</h3>
      <pre class="highlight" tabindex="0"><code><%= syntax_highlight(@request.xml) %></code></pre>
    </div>
  <% end %>
<% end %>

<%= render 'form' %>
