<h1>Validate SAML Authentication Request Signature</h1>

<%= render 'form' %>

<% if @validation_attempted %>
  <hr/>

  <div class=<%= @valid_request ? "usa-alert usa-alert--success" : "usa-alert usa-alert--error" %>>
    <div class="usa-alert__body">
      <h2 class="usa-alert__heading">
        Request: <%= @valid_request ? "Valid" : "Invalid" %>
      </h2>
      <% if !@valid_request %>
        <p>There is something wrong with your SAML request.</p>
        <% if !@request %>
            <p>We could not decode your SAML request. Make sure it is encoded correctly, as described in <a href="https://developers.login.gov/saml/#auth-request" target="_blank">our documentation</a>.</p>
            <p>Also note that all other URL parameters need to be properly URL-encoded.</p>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class=<%= @valid_signature ? "usa-alert usa-alert--success" : "usa-alert usa-alert--error" %>>
    <div class="usa-alert__body">
      <h2 class="usa-alert__heading">
        Signature: <%= @valid_signature ? "Valid" : "Invalid" %>
      </h2>
      <% if @valid_signature %>
        Public Certificate Serial Number:
        <div>
          <code><%= @matching_cert_sn.to_s %></code> (int)
        </div>
        <div>
          <code><%= @matching_cert_sn.to_s(16) %></code> (hex)
        </div>
      <% else %>
        <p>Possible reasons:</p>
        <ul>
          <li>
            <b>No signature:</b> Is the request signed? If not, you should check your application's SAML config settings and enable it.
          </li>
          <li>
            <b>Wrong hashing algorithm:</b> Login.gov only supports SHA256
          </li>
          <li>
            <b>Wrong certificate:</b>
            <ul>
              <li>
                If you've pasted a certificate, the certificate may not match the private key used by your application.
              </li>
              <li>
                Otherwise, you need to add the public certificate to your Login.gov application configuration that belongs to the private key used by your application.
              </li>
            </ul>
          </li>
        </ul>
      <% end %>
    </div>
  </div>

  <% if @xml&.length %>
    <p>
      <b>SAML</b>
      <pre><code><%= @xml %></code></pre>
    </p>
  <% end %>
<% end %>
