<%# locals:
  - security_events
  - next_page (optional)
  - prev_page (optional)
  - show_user (optional)
%>

<div class="grid-container padding-0">
  <div class="grid-row">
    <table class="usa-table grid-col-fill">
      <thead>
        <tr>
          <% if local_assigns[:show_user] %>
            <th scope="col">User</th>
          <% end %>
          <th scope="col">Type</th>
          <th scope="col">Issued At</th>
        </tr>
      </thead>
      <tbody>
        <% security_events.each do |security_event| %>
          <tr>
            <% if local_assigns[:show_user] %>
              <td>
                <%= security_event.user.email %>
              </td>
            <% end %>
            <td>
              <%= link_to(
                    friendly_name(security_event),
                    security_event_path(security_event),
                    class: 'usa-link'
                  ) %>
            </td>
            <td>
              <%= l(security_event.issued_at, format: :long) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="grid-container padding-0">
  <div class="grid-row">
    <div class="grid-col-auto">
      <%= link_to_if(
        local_assigns[:prev_page],
        '&larr; Previous'.html_safe,
        prev_page) do %>
        &nbsp;
      <% end %>
    </div>
    <div class="grid-col-fill">
      &nbsp;
    </div>
    <div class="grid-col-auto">
      <%= link_to_if(
        local_assigns[:next_page],
        'Next &rarr;'.html_safe,
        next_page) do %>
        &nbsp;
      <% end %>
    </div>
  </div>
</div>
