<%= page_heading 'All Security Events' %>

  <section aria-label="Search component">
    <%= form_with url: security_events_search_path,
              method: :post,
              class: "usa-search",
              role: "search" do |form| %>
      <%= form.label :email, 'Search by email address', class: 'usa-sr-only', for: 'search-field' %>
      <%= form.text_field :email,
                          type: 'search',
                          id: 'search-field',
                          class: 'usa-input',
                          value: @user&.email %>
      <button class="usa-button" type="submit">
          <span class="usa-search__submit-text">Search by email address</span>
      </button>
    <% end %>
  </section>

<%= render partial: 'table',
           locals: {
             security_events: @security_events,
             show_user: true,
             next_page: @next_page,
             prev_page: @prev_page,
          } %>
