<%#
  Eventually this will be folded back into the index.
  It's separate for now so that we can easily show partners the older experience while we're working on this.
%>
<% tab_component = TabComponent.new.add_tab(title: 'Usage', id: 'tab1') do %>
  <% capture do %>
    <div class="grid-row grid-gap padding-x-1 tablet-lg:margin-2">
      <div class="tablet-lg:grid-col-6 mobile-lg:margin-top-2">
        <%= render(ChartComponent.new(**@reports.usage.chart)) %>
      </div>
      <div class="tablet-lg:grid-col-6 mobile-lg:margin-top-2">
        <%= render(ChartComponent.new(**@reports.idv.chart)) %>
      </div>
    </div>
    <div class="grid-row grid-gap padding-x-1 margin-2">
      <div class="tablet-lg:grid-col-6">
        <div class="data-summary padding-x-1 padding-y-05">
          <p class="data-summary__title">Successful authentications</p>
          <p class="data-summary__number"><%= data_unavailable_or_number_with_delimiter @reports.usage.successful_auths %></p>
          <p class="data-summary__description">Total times users signed in through Login.gov.</p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<% tab_component.add_tab(title: 'Fraud Prevention', id: 'tab2') do %>
  <% capture do %>
      <div class="padding-x-1 mobile-lg:margin-top-2">
        <%= render(ChartComponent.new(**@reports.fraud.chart)) %>
      </div>
  <% end %>
<% end %>
<%= render tab_component %>
