<%# expected locals:
  name [String] input name, record column
  label [String] display name for label
  collection [Array] of objects that include :id, :title, :controls
  all_controls [String] comma-separated list of all next options
  required [Boolean] whether this field is required for submit
  selected [String] optional. ID of pre-selected option
  prompt [String] optional. Default null-value option name
 %>
<div class="wizard-field select analytic_<%= name.downcase %> tablet:grid-col-4">
  <div class="usa-label__group">
    <label class="usa-label select <%= 'required usa-input-required' if required %>"
           for="analytic_<%= name.downcase %>">
      <%= label %>
      <% if required %>
        <abbr class="text-secondary-dark" title="required">*</abbr>
      <% end %>
    </label>
  </div>
  <div class="usa-input__container">
    <select class="block col-12 select usa-select <%= 'required' if required %>"
            aria-invalid="false"
            name="analytic[<%= name.downcase %>]"
            id="analytic_<%= name.downcase %>"
            <% if required %>
              required
              aria-required="true"
            <% end %>
    >
      <option value="" data-apps="<%= all_controls if defined? all_controls %>">
        <%= prompt if defined? prompt %>
      </option>
      <% collection.each do |col| %>
        <option value="<%= col[:id] %>"
                <%= 'selected' if defined?(selected) && selected == col[:id].to_s %>
                data-apps="<%= col[:controls] %>">
          <%= col[:title] %>
        </option>
      <% end %>
    </select>
  </div>
</div>
