<% content_for(:title, 'Analytics dashboard') %>

<h1 class="margin-top-0">Reports</h1>
<p class="usa-intro font-body-lg line-height-sans-4">Track usage, fraud signals, and more &mdash; Updated weekly</p>
  <% if @no_reports %>
    <p class="usa-error-message">You do not belong to any team that has a service provider configuration with reported data.</p>
  <% end %>
  <div class="grid-row grid-gap">
    <div class="grid-col-fill">
      <section id="filter">
          <%= simple_form_for(@analytic, url: analytics_path, method: :get, html: { class: 'border-top-1px border-primary-light margin-bottom-3' }) do |form| %>
           <%= form.error_notification %>
           <%= render 'report_selector', form: form %>
           <div class="grid-row flex-justify-end margin-y-1">
            </div>
            <% end %>
      </section>
    </div>
  </div>
  <%= javascript_include_tag 'analytics_report_filter' %>
  <div class="grid-row grid-gap">
    <div class="grid-col-fill">
      <section id="service-activity">
      <div class="report-section__title">
        <h2 class="margin-y-1">Service activity</h2>
        <a href="<%= analytics_download_path %>" class="usa-button flex-align-self-center" id="download-csv">
          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" width="13" height="16" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13 5.64706H9.28571V0H3.71429V5.64706H0L6.5 12.2353L13 5.64706ZM0 14.1176V16H13V14.1176H0Z" fill="#fff"/>
          </svg>
          <span>Download CSV</span>
        </a>
      </div>
      </section>
    </div>
  </div>
  <div class="usa-alert usa-alert--info">
    <div class="usa-alert__body">
      <p class="usa-alert__text"><%= t('reports.info_alert') %></p>
    </div>
  </div>
  <div class="grid-row grid-gap tablet-lg:margin-2"> 
    <div class="tablet-lg:grid-col-6 mobile-lg:margin-top-2">
      <div class="data-summary">
        <p class="data-summary__title">Users that accessed your services through Login.gov</p>
        <p class="data-summary__number"><%= number_with_delimiter @identity_report.grand_total %></p>
        <p class="data-summary__description">Unique users accessing source • Current month</p>
      </div>
     </div>
     <div class="tablet-lg:grid-col-6 mobile-lg:margin-top-2">
      <div class="data-summary">
        <p class="data-summary__title">Suspected fraud</p>
        <p class="data-summary__number"><%= number_with_delimiter @identity_report.fraud_total %></p>
        <p class="data-summary__description">IdV and Authentication users combined • Current month</p>
      </div>
    </div>
  </div>
  <div class="grid-row grid-gap tablet-lg:margin-2">
    <div class="tablet-lg:grid-col-6 mobile-lg:margin-top-2">
      <div class="data-graph--container">
        <p class="data-graph__title">
          <span class="data-graph__headline">Active Users</span> •
          <%= pluralize(@identity_report.time_intervals, @identity_report.time_interval_size) %>
        </p>
        <p class="padding-bottom-2">Unique users who signed into your service</p> 
          <div class="flex-1"><%= public_send(@graphs[0][:type], @graphs[0][:data], **@graphs[0][:options]) %></div>
        <p>New accounts reflect account creation during this window. Existing accounts reflecting account created ahead of this window.</p>
      </div>
    </div>
    <div class="tablet-lg:grid-col-6 mobile-lg:margin-top-2">
      <div class="data-graph--container">
        <p class="data-graph__title">
          <span class="data-graph__headline">Identity Verified Users</span> •
          <%= pluralize(@identity_report.time_intervals, @identity_report.time_interval_size) %>
        </p>
        <p class="padding-bottom-2">Unique users who completed identity verification</p>
          <div class="flex-1"><%= public_send(@graphs[1][:type], @graphs[1][:data], **@graphs[1][:options]) %></div>
        <p>Newly proofed completed verification during this window. Preverified had already completed verification ahead of this window.</p>
      </div>
    </div>
  </div>
  <div class="grid-row grid-gap margin-2">
    <div class="tablet-lg:grid-col-6">
      <div class="data-summary">
        <p class="data-summary__title">Successful authentications</p>
        <p class="data-summary__number"><%= number_with_delimiter @identity_report.successful_auths %></p>
        <p class="data-summary__description">Total times users signed in through Login.gov</p>
      </div>
    </div>
  </div>

