<% content_for(:title, 'Analytics dashboard') %>
<h1 class="margin-top-0">Reports</h1>
<p class="usa-intro font-body-lg line-height-sans-4">Track usage, fraud signals, and more &mdash; Updated weekly</p>
<section id="filter">
  <%= simple_form_for(@analytic, html: { class: 'border-top-1px border-primary-light margin-bottom-3' }) do |form| %>
    <%= form.error_notification %>
    <%= render 'report_selector', form: form %>
  <% end %>
</section>
<section id="service-activity">
  <div class="report-section__title">
    <h2 class="margin-y-1">Service activity</h2>
    <a href="<%= analytics_download_path %>" class="usa-button flex-align-self-center" id="download-csv">
      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" width="13" height="16" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13 5.64706H9.28571V0H3.71429V5.64706H0L6.5 12.2353L13 5.64706ZM0 14.1176V16H13V14.1176H0Z" fill="#fff"/>
      </svg>
      <span>Download CSV</span>
    </a>
  </div>
  <div class="usa-alert usa-alert--info">
    <div class="usa-alert__body">
      <p class="usa-alert__text"><%= t('reports.info_alert') %></p>
    </div>
  </div>
  <div class="data-summary--container">
    <div class="data-summary">
      <p class="data-summary__title">Users that accessed your services through Login.gov</p>
      <p class="data-summary__number"><%= number_with_delimiter @identity_report.grand_total %></p>
      <p class="data-summary__description">Unique users accessing source • Current month</p>
    </div>
    <div class="data-summary">
      <p class="data-summary__title">Suspected fraud</p>
      <p class="data-summary__number"><%= number_with_delimiter @identity_report.fraud_total %></p>
      <p class="data-summary__description">IdV and Authentication users combined • Current month</p>
    </div>
  </div>
  <div class="data-graph--container">
    <p class="data-graph__title">
      <span class="data-graph__headline">Identity Validation Activity</span> •
      <%= pluralize(@identity_report.time_intervals, @identity_report.time_interval_size) %>
    </p>
    <% @graphs.each do |graph| %>
      <div class="grid-col flex-1"><%= public_send(graph[:type], graph[:data], **graph[:options]) %></div>
    <% end %>
  </div>
  <div class="data-summary--container">
    <div class="data-summary">
      <p class="data-summary__title">Successful authentications</p>
      <p class="data-summary__number"><%= number_with_delimiter @identity_report.successful_auths %></p>
      <p class="data-summary__description">Total times users signed in through Login.gov</p>
    </div>
    <div class="data-summary">
      <p class="data-summary__title">Applications</p>
      <p class="data-summary__number"><%= number_with_delimiter(@application_count) %></p>
      <p class="data-summary__description">Active applications on this team with sign-in activity</p>
    </div>
  </div>
</section>
