<% content_for(:title, 'Analytics dashboard') %>

<h1 class="margin-top-0">Reports<span class="usa-tag usa-tag--big margin-left-105 bg-accent-cool-dark padding-x-105 radius-lg text-light text-ttop">Beta</span></h1>
<p class="usa-intro font-body-lg line-height-sans-4">Track usage, fraud signals, and more &mdash; Updated monthly</p>
  <div class="grid-row grid-gap border-top-1px border-primary-light">
    <div class="grid-col-fill">
      <% if @error %>
        <div class="usa-alert usa-alert--error margin-top-2">
          <div class="usa-alert__body">
            <p class="usa-alert__text"><%= @error %></p>
          </div>
        </div>
      <% end %>
      <section id="filter">
          <%= simple_form_for(@analytic, url: analytics_path, html: { class: 'margin-bottom-2' }) do |form| %>
           <%= render 'report_selector', form: form %>
           <div class="grid-row margin-y-1">
              <%= form.submit 'View report', class: 'usa-button margin-y-2 margin-right-0 mobile-lg:margin-right-1' %>
              <% if @analytic.errors.empty? && @graphs.any? %>
                <a
                  href="<%= analytics_path(
                    uuid: @analytic.uuid,
                    date: @analytic.date,
                    format: 'csv'
                  ) %>"
                  class="usa-button usa-button--outline margin-bottom-2 margin-right-0 mobile-lg:margin-right-0 mobile-lg:margin-top-2"
                  id="download-csv">
                  Export report as CSV
                </a>
              <% end %>
            </div>
            <% end %>
      </section>
    </div>
  </div>
<% if @analytic.errors.empty? && @graphs.any? %>
    <div class="grid-row grid-gap">
    <div class="grid-col-fill">
        <h2 class="margin-bottom-0 border-bottom-1px border-primary-light padding-bottom-1">
          Date range: <%= selected_date_range(@analytic.date) %>
          </h2>
    </div>
  </div>
  <div class="usa-alert usa-alert--info">
    <div class="usa-alert__body">
      <p class="usa-alert__text"><%= t('reports.info_alert') %></p>
    </div>
  </div>
  <div class="grid-row grid-gap tablet-lg:margin-bottom-2"> 
    <div class="tablet-lg:grid-col-6 mobile-lg:margin-top-2">
      <div class="data-summary padding-x-1 padding-y-05">
        <p class="data-summary__title">Active Users</p>
        <p class="data-summary__number"><%= number_with_delimiter @identity_report.grand_total %></p>
        <p class="data-summary__description">Unique users successfully accessing your service.</p>
      </div>
     </div>
     <div class="tablet-lg:grid-col-6 mobile-lg:margin-top-2">
      <div class="data-summary padding-x-1 padding-y-05">
        <p class="data-summary__title">Blocked Users</p>
        <p class="data-summary__number"><%= number_with_delimiter @identity_report.fraud_total %></p>
        <p class="data-summary__description">Unique users blocked due to suspected fraud signals.</p>
      </div>
    </div>
  </div>
  <div class="grid-row grid-gap tablet-lg:margin-2">
    <div class="tablet-lg:grid-col-6 mobile-lg:margin-top-2">
      <div class="data-graph--container">
        <p class="data-graph__title">
          <span class="data-graph__headline">All Active Users</span>
        </p>
        <p class="padding-bottom-2">Unique users who accessed a service</p>
          <div class="flex-1"><%= public_send(@graphs[0][:type], @graphs[0][:data], **@graphs[0][:options]) %></div>
        <p>New accounts reflect account creation during this window. Existing accounts reflect accounts created ahead of this window.</p>
      </div>
    </div>
    <div class="tablet-lg:grid-col-6 mobile-lg:margin-top-2">
      <div class="data-graph--container">
        <p class="data-graph__title">
          <span class="data-graph__headline">Active Identity Verified Users</span>
        </p>
        <p class="padding-bottom-2">Unique users who accessed a service requiring verification</p>
          <div class="flex-1"><%= public_send(@graphs[1][:type], @graphs[1][:data], **@graphs[1][:options]) %></div>
        <p>Newly proofed are net new users who verified during this window. Previously proofed are users who completed verification ahead of this window.</p>
      </div>
    </div>
  </div>
  <div class="grid-row grid-gap margin-2">
    <div class="tablet-lg:grid-col-6">
      <div class="data-summary padding-x-1 padding-y-05">
        <p class="data-summary__title">Successful authentications</p>
        <p class="data-summary__number"><%= number_with_delimiter @identity_report.successful_auths %></p>
        <p class="data-summary__description">Total times users signed in through Login.gov.</p>
      </div>
    </div>
  </div>
<% end %>
<%= javascript_include_tag 'analytics_report_filter' %>
