<% content_for(:title, 'Analytics dashboard') %>
<h1 class="margin-top-0">Reports</h1>
<p class="usa-intro font-body-lg line-height-sans-4">Track usage, fraud signals, and more &mdash; Updated weekly</p>
<section id="filter">
  <%= simple_form_for(@analytic, html: { class: 'border-top-1px border-primary-light margin-bottom-3' }) do |form| %>
    <%= form.error_notification %>
    <%= render 'report_selector', form: form %>
  <% end %>
</section>
<section id="service-activity">
  <div class="report-section__title">
    <h2 class="margin-y-1">Service activity</h2>
    <a href="<%= analytics_download_path %>" class="usa-button flex-align-self-center" id="download-csv">
      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
        <use href="<%= asset_path('download.svg') %>"></use>
      </svg>
      <span>Download CSV</span>
    </a>
  </div>
  <div class="data-summary--container">
    <div class="data-summary">
      <p class="data-summary__title">Users that accessed your services through Login.gov</p>
      <p class="data-summary__number">247,391</p>
      <p class="data-summary__description">Unique users accessing source • Current month</p>
    </div>
    <div class="data-summary">
      <p class="data-summary__title">Suspected fraud</p>
      <p class="data-summary__number">18,204</p>
      <p class="data-summary__description">IdV and Authentication users combined • Current month</p>
    </div>
  </div>
    <div class="data-graph--container">
      <p class="data-graph__title">
        <span class="data-graph__headline">Identity Validation Activity</span> •
        <%= pluralize(@identity_report.time_intervals, @identity_report.time_interval_size) %>
      </p>
      <% @graphs.each do |graph| %>
        <div class="grid-col flex-1"><%= public_send(graph[:type], graph[:data], **graph[:options]) %></div>
      <% end %>
    </div>
</section>
