<%# expected locals:
  [Object] opts (optional)
  [Object] tab_data {
    title: 'String',
    id: 'String',
    content: 'HTML/Partial',
  }
%>
<section class="usa-tab__section<%= "#{opts[:class_name]}" || '' %>">
  <div class="usa-tab">
    <button type="button"
            class="usa-tab__accordion usa-button--unstyled"
            aria-controls="usa-tab-list"
            aria-expanded="false"
    >
      <p class="usa-tab__active"><%= tab_data[0][:title] %>
        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
          <use href="/assets/img/sprite.svg#expand_more"></use>
        </svg>
      </p>
    </button>
    <ul class="usa-tab__list" id="usa-tab-list" role="tablist">
      <% tab_data.each_with_index do |tab, i| %>
        <li class="usa-tab__item" id="usa-tab-item__<%= tab[:id] %>">
          <a class="usa-tab__anchor"
             id="usa-tab__<%= tab[:id] %>"
             href="#<%= tab[:id] %>"
             role="tab"
             aria-controls="<%= tab[:id] %>"
             aria-selected="false"><%=
            tab[:title] 
          %></a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="usa-tab__display">
    <% tab_data.each do |panel| %>
      <div class="usa-tab__panel"
           id="<%= panel[:id] %>"
           role="tabpanel"
           aria-labelledby="usa-tab-<%= panel[:id] %>">
        <%= panel[:content] %>
      </div>
    <% end %>
  </div>
</section>
<%= javascript_include_tag 'tab_component' %>
<%= stylesheet_link_tag 'tab_component' %>
