<%= page_heading 'Configuration extraction results' %>
<p class="usa-prose">Results file: <%= @extract.filename %></p>

<% if @extract.failures.present? %>
  <h2><%= pluralize(@extract.failures.length, 'issuer') %> found invalid </h2>
  <ul class="usa-list">
    <% @extract.failures.each do |failed_issuer| %>
      <li><%= failed_issuer %>
      <% if sp = @extract.service_providers.find {|record| record.issuer == failed_issuer} %>
        <ul class="usa-list">
          <% sp.errors.full_messages.each do |error_message| %>
            <li class="usa-error-message"><%= error_message %></li>
          <% end %>
        </ul>
      <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<h2><%= pluralize(@extract.successes.length, 'ServiceProvider') %> found</h2>
<ul class="usa-list font-family-mono">
  <% @extract.service_providers.each do |sp| %>
    <% next unless @extract.successes.include? sp.issuer %>
    <li>service provider <%= sp.group_id %> | <%= sp.issuer %></li>
  <% end %>
</ul>
<h2><%= pluralize(@extract.teams.length, 'Team record') %> found</h2>
<ul class="usa-list font-family-mono">
  <% @extract.teams.each do |team| %>
    <li>team <%= team.id %> | <%= team.name %></li>
  <% end %>
</ul>
<% if @extract.successes.any? %>
  <p>
    A <%= 'partial' if @extract.failures.any? %> download is ready.
    <%= form_for(@extract, format: :gzip) do |f| %>
      <%= f.hidden_field :ticket, value: @extract.ticket %>
      <%= f.hidden_field(:criteria_file, value: @extract.criteria_file) if @extract.criteria_file %>
      <%= f.hidden_field(:criteria_list, value: @extract.criteria_list) if @extract.criteria_list %>
      <%= f.submit 'Download configs', class: 'usa-button' %>
    <% end %>
  </p>
<% end %>
