<h1>Config Extraction Results</h1>
<p class="usa-prose">Results file: /tmp/config_extract_<%= @ticket %></p>
<h2><%= "#{@failures.length} #{@search_by == 'teams' ? 'teams' : 'issuers' }" %> missing</h2>
<ul class="usa-list">
<% @failures.each do |f| %>
  <li><%= f %></li>
<% end %>
</ul>
<h2><%= @successes.length %> ServiceProvider rows found</h2>
<ul class="usa-list font-family-mono">
<% @successes.each do |s| %>
  <li>team <%= s.group_id %> | <%= s.issuer %></li>
<% end %>
</ul>
