<h1>Configuration Extraction Results</h1>
<p class="usa-prose">Results file: <%= @extract.filename %></p>

<% if @extract.failures.present? %>
  <h2><%= "#{@extract.failures.length} #{@extract.search_by == 'teams' ? 'teams' : 'issuers' }" %>  were invalid </h2>
  <ul class="usa-list">
    <% @extract.failures.each do |f| %>
      <li><%= f %></li>
    <% end %>
  </ul>
<% end %>

<h2><%= @extract.service_providers.length %> ServiceProvider rows found</h2>
<ul class="usa-list font-family-mono">
  <% @extract.service_providers.each do |sp| %>
    <li>service provider <%= sp.group_id %> | <%= sp.issuer %></li>
  <% end %>
</ul>
<h2><%= @extract.teams.length %> Team rows found</h2>
<ul class="usa-list font-family-mono">
  <% @extract.teams.each do |team| %>
    <li>team <%= team.id %> | <%= team.name %></li>
  <% end %>
</ul>
