<h1>Config Extraction Results</h1>
<p class="usa-prose">Results file: <%= @extract.filename %></p>

<% if @extract.failures.present? %>
  <h2><%= "#{@extract.failures.length} #{@extract.search_by == 'teams' ? 'teams' : 'issuers' }" %> missing</h2>
  <ul class="usa-list">
    <% @extract.failures.each do |f| %>
      <li><%= f %></li>
    <% end %>
  </ul>
<% end %>

<h2><%= @extract.successes.length %> ServiceProvider rows found</h2>
<ul class="usa-list font-family-mono">
  <% @extract.successes.each do |s| %>
    <li>team <%= s.group_id %> | <%= s.issuer %></li>
  <% end %>
</ul>
