<h1>Manage users for <%= @team.name %></h1>

<% if @manage_users_form.errors.any? %>
  <div class="usa-alert usa-alert--error usa-alert__body usa-alert__text text-indent-3">
    Please review the problems below:
    <ul>
      <% @manage_users_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with url: team_manage_users_path(@team), method: :post, id: 'manage_users_form' do |f| %>
  <%= link_to "Add user", new_team_user_path(@team.id),
                class: 'usa-button usa-button--outline' %>

   <p class="text-bold">Current user list</p>
  <div id='user_email_inputs'>
    <% @manage_users_form.user_emails.each do |email| %>
      <%= hidden_field_tag 'user_emails[]', strip_tags(email), class: 'user_email_input' %>
    <% end %>
  </div>

  <ul id='user_email_list' class='usa-list usa-list--unstyled margin-bottom-2'></ul>
  <%= submit_tag 'Save and Return', class: 'usa-button margin-top-4 usa-button-wide' %>
<% end %>

<%= javascript_include_tag 'manage_users' %>
