<tr>
  <th scope="row"><%= sanitize(banner.message).html_safe %></th>
  <td><%= banner.start_date ? DateTime.parse(banner.start_date.to_s).strftime("%m/%d/%Y") : "" %></td>
  <td><%= banner.end_date ? DateTime.parse(banner.end_date.to_s).strftime("%m/%d/%Y") : "" %></td>
  <% if timing == 'upcoming' %>
    <td><%= banner.active? ? 'Yes' : 'No' %></td>
    <td>
      <% if policy(banner).edit? %>
        <%= link_to "Edit", edit_banner_path(banner), class: 'usa-button' %>
      <% end %>
    </td>
    <% end %>
</tr>
