<%= form.input :email,
     input_html: { class: 'usa-input', aria: { invalid: false } },
     required: true %>
<fieldset class="usa-fieldset margin-top-3">
  <legend class="usa-label" id="rbac_description"><%= t('headings.users.rbac') %></legend>
  <p><%= 'Warning: user is not yet a member of any team.' if @has_no_teams %></p>
  <%= form.fields_for @user_team do |ut_form| %>
    <%= render partial: 'components/radio_collection', locals: {
      form: ut_form,
      db_fieldname: :role_name,
      describedby: 'rbac_description',
      inputs: options_for_roles,
      default: @user_team.role_name,
      disabled: false
    } %>
  <% end %>
</fieldset>
