<%= form.input :email,
     input_html: { class: 'usa-input', aria: { invalid: false } },
     required: true %>
<fieldset class="usa-fieldset margin-top-3">
  <legend class="usa-label" id="rbac_description"><%= t('headings.users.rbac') %></legend>
  <p><%= t('users.rbac_description_html') %></p>
  <ul class="usa-input-list margin-bottom-3" >
    <%= form.fields_for @user_team do |ut_form| %>
      <%= render partial: 'components/radio_collection', locals: {
        form: ut_form,
        db_fieldname: :role_name,
        fieldname: 'rbac_description',
        inputs: Role::ACTIVE_ROLES.map {|r| [r.name, r.friendly_name]},
        default: @user_team.role_name
      } %>
    <% end %>
  </ul>
</fieldset>
