<h1 class="usa-display">
  <% if @user.first_name && @user.last_name %>
    <%= "#{@user.first_name} #{@user.last_name}" %>
  <% else %>
    <%= @user.email %>
  <% end %>
</h1>

<%= simple_form_for(@user, html: { autocomplete: 'off' }) do |form| %>
  <%= form.error_notification %>
  <%= render 'form_rbac', form: form %>
  <%= form.button :submit, 'Update', :class => "usa-button float-left" %>
  <%= link_to(
          'Delete',
          user_path(@user),
          method: :delete,
          data: { confirm: 'Are you sure you want to delete this user?' },
          class: 'usa-button usa-button--danger float-left',
          )
  %>
  <%= link_to t('forms.buttons.cancel'), users_path,
              class: 'usa-button usa-button--outline float-left' %>
<% end %>
