
<h1 class="usa-display">Edit user "<%= @user.email %>"</h1>

<%= simple_form_for(@user, html: { autocomplete: 'off' }) do |form| %>
  <%= form.error_notification %>
  <%= render 'form', form: form %>
  <%= link_to(
          'Delete',
          user_path(@user),
          method: :delete,
          data: { confirm: 'Are you sure you want to delete this user?' },
          class: 'usa-button usa-button--danger float-left',
          )
  %>
  <%= form.button :submit, 'Update', :class => "usa-button float-left" %>

  <%= link_to t('forms.buttons.cancel'), users_path,
              class: 'usa-button usa-button--outline float-left' %>
<% end %>
