<!-- 
Karla Rodriguez
added title from style guide
-->
<div class="usa-display">Users</div>
<!-- 
Karla Rodriguez
added style to button, removed icons not in style guide
--> 


<%= link_to 'Create a new user', new_user_path %> 

<table class="usa-table-borderless">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Signed in</th>
      <th scope="col">Admin</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <th scope="row"><%= user.email %></th>
      <td><%= image_tag user.uuid? ? '/assets/img/alerts/success.svg' : '/assets/img/alerts/error.svg' %></td>
      <td><%= image_tag user.admin? ? '/assets/img/illustrations/security-key.svg' : '' %></td>
      <td><%= link_to 'edit', edit_user_path(user.id) %></td>

    </tr>
    <% end %>
  </tbody>
</table>
