
<div class="usa-display">Users</div>

 	<%= button_to t('headings.users.new_user'), new_user_path, method: :get, :class => "usa-button" %>

<table class="usa-table-borderless">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Signed in</th>
      <th scope="col">Admin</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <th scope="row"><%= user.email %></th>
      <td><%= image_tag user.uuid? ? 'img/alerts/success.svg' : 'img/alerts/error.svg', height: '27', width: '27' %></td>
      <td><%= image_tag 'img/illustrations/security-key.svg', height: '27', width: '27' if user.admin? %></td>
      <td><%= link_to 'edit', edit_user_path(user.id), :class => 'usa-link' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
