
<h1 class="usa-display">Users</h1>

<div class="actions">
  <%= button_to t('headings.users.new_user'), new_user_path,
                method: :get, :class => "usa-button" %>

  <% if can_delete_unconfirmed_users?(current_user, @users) %>
    <%= button_to t('forms.buttons.remove_unconfirmed_users'),
                  remove_unconfirmed_users_path,
                  method: :delete, :class => "usa-button" %>
  <% end %>
</div>

<div class="users">
  <table class="usa-table">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Signed in</th>
        <th scope="col">Admin</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= image_tag asset_path(sign_in_icon(user)), height: '27', width: '27',
                            class: 'margin-bottom-neg-105',
                            title: title(user),
                            alt: alt(user) %></td>
          <td><%= image_tag asset_path('illustrations/security-key.svg'),
                            height: '27', width: '27',
                            class: 'margin-bottom-neg-05',
                            alt: 'admin user icon' if user.admin? %></td>
          <td>
            <%= button_to 'Delete', user_path(user.id), method: :delete,
                        form_class: 'display-inline',
                        class: 'usa-button--unstyled usa-link margin-right-1',
                        data: { confirm: t('notices.confirm_delete') } %>
            <%= link_to 'Edit', edit_user_path(user.id), class: 'usa-link' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
