<%# expected locals:
  @param form [SimpleForm] such that form is a valid instance of wizard_form
  @param describedby [String] a proper value for `aria-describedby`
  @param db_fieldname [Symbol] such that the database has an associated column
  @param inputs [Hash] where key is the label and value is the input value
  @param disabled [Boolean] whether this input is disabled
%>
<div class="usa-checkbox" aria-describedby="<%= describedby %>">
  <% if form.object.errors[db_fieldname].present? %>
    <p class="usa-error-message js-bundle-input-error-message">
      <%= form.object.errors[db_fieldname].to_sentence.presence %>
    </p>
  <% end %>
  <%= form.collection_check_boxes(db_fieldname,
                                  inputs,
                                  :last, :first,
                                  item_wrapper_tag: :div,
                                  item_wrapper_class: 'checkbox__container') do |b| %>
    <%= b.check_box class: "usa-checkbox__input", disabled: %>
    <%= b.label class: "usa-checkbox__label" %>
  <% end %>
</div>
