<%# expected locals:
  [Method] form such that form is a valid instance of wizard_form
  [String] fieldname such that simple_form and service_provider have valid translations
  [Boolean] description whether a description exists in the translations
  [Boolean] html_desc whether a description includes HTML tags
  ["radio"|"checkbox"] input_type
  [Boolean] required whether this field is required
  [Symbol] db_fieldname such that the database has an associated column (often fieldname.to_sym)
  [Input elements] inputs such that the input fields are rendered correctly
  [String] default to pre-select an option
%>
<fieldset class="<%= "wizard-field #{input_type} wizard_step_#{db_fieldname.to_s.gsub('.','_')}" %>" >
  <legend class="usa-sr-only" id="<%= fieldname.gsub('.','_') %>">
    <%= accessible_label(form, t("simple_form.labels.service_provider.#{fieldname}"), db_fieldname) %>
  </legend>
  <div class="usa-label__group">
    <p class="<%= "usa-label #{input_type} #{required ? 'required' : 'optional'}" %>" aria-hidden="true">
      <%= t("simple_form.labels.service_provider.#{fieldname}") %>
      <% if required %>
        <%= t('simple_form.required.html') %>
      <% end %>
    </p>
    <% if description %>
      <%= form.hint t("service_provider_form.#{fieldname}#{html_desc ? '_html' : ''}"),
        tabindex: 0 %>
    <% end %>
  </div>
  <div class="usa-input__container">
    <% if input_type == 'radio' %>
      <%= render partial: 'components/radio_collection', locals: {
        form: form,
        fieldname: fieldname,
        db_fieldname: db_fieldname,
        inputs: inputs,
        # specified, saved, or first listed option
        default: defined?(default) ? default : "#{draft_service_provider[db_fieldname] || inputs.values[0]}",
      } %>
    <% elsif input_type == 'checkbox' %>
      <%= render partial: 'checkbox_collection', locals: {
        form: form,
        fieldname: fieldname,
        db_fieldname: db_fieldname,
        inputs: inputs,
      } %>
    <% elsif input_type == 'multi-text' %>
      <% text_list.push '' if text_list.empty? %>
      <% text_list.each do |value| %>
        <%= render partial: 'components/multiple_text', locals: {
          form: form,
          fieldname: fieldname,
          db_fieldname: db_fieldname,
          value: value,
        } %>
      <% end %>
      <button type="button"
              id="add-redirect-uri-input"
              class="usa-button usa-button--unstyled">
        Add another URI
      </button>
    <% end %>
  </div>
</fieldset>
