<div class="wizard-main">
  <div class="usa-alert usa-alert--info">
    <div class="usa-alert__body">
      <p class="usa-alert__text"><%= t('notices.service_provider_help_text_html') %></p>
    </div>
  </div>
  <%= wizard_form do |form| %>
    <%= form.fields_for :help_text do |h| %>
      <% HelpText::CONTEXTS.each do |context| %>
        <%= h.fields_for context do |s| %>
          <h2><%= t("simple_form.labels.service_provider.help_text.#{context}") %> translations</h2>
          <% HelpText::LOCALES.each do |locale| %>
            <%= s.input locale,
                  as: :usa_textarea,
                  required: false,
                  input_html: { value: view_custom_help_text.fetch(context, locale).sub(/\Ablank\z/, '') },
                  label_html: { class: 'usa-input-optional' },
                  label: t("locale_map.#{locale}") %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <%= render partial:'footer', locals: { form: form } %>
  <% end %>
</div>
