<div class="wizard-main">
  <%= wizard_form do |form| %>
    <%= form.fields_for :help_text do |h| %>
      <% HelpText::CONTEXTS.each do |context| %>
        <%= h.fields_for context.to_s do |s| %>
          <%= render(WizardFieldsetComponent.new(
            form: s,
            param_name: 'en',
            label_key: "help_text.#{context}",
            description_key: context,
            input_type: 'radio',
            inputs: t("service_provider_form.help_text.#{context}", deep_interpolation: true,
              sp_name: draft_service_provider['friendly_name'] || '{Application Friendly Name}',
              agency: draft_service_provider.agency&.name || '{Agency}'
              ).to_a.map { |a| [a[1].html_safe, a[0]] },
            default: view_parsed_help_text.fetch(context, HelpText::LOCALE_FOR_PRESETS) || 'blank'
          )) %>
        <% end %>
      <% end %>
    <% end %>
    <div class="wizard-field">
      <div class="usa-label__group">
        <p class="usa-label"><%= t('simple_form.labels.service_provider.help_text.custom_help') %></p>
        <%= form.hint t('service_provider_form.custom_help_text_html') %>
      </div>
    </div>
    <%= render partial:'footer', locals: { form: form } %>
  <% end %>
</div>
