<h2>SAML requirements</h2>
<%= wizard_form do |form| %>
  <%= form.input :acs_url,
                   input_html: { class: 'usa-input', aria: { invalid: false } },
                   label_html: { class: 'usa-input-required'},
                   label: t('simple_form.labels.service_provider.acs_url'),
                   required: true,
                   hint: t('service_provider_form.assertion_consumer_service_url_html') %>

  <%= form.input :assertion_consumer_logout_service_url,
                 input_html: { class: 'usa-input' },
                 label: t('simple_form.labels.service_provider.assertion_consumer_logout_service_url'),
                 hint: t('service_provider_form.assertion_consumer_logout_service_url_html') %>

  <%= form.input :sp_initiated_login_url,
                 input_html: { class: 'usa-input' },
                 label: t('simple_form.labels.service_provider.sp_initiated_login_url'),
                 hint: t('service_provider_form.sp_initiated_login_url_html') %>

  <%= form.input :block_encryption,
                 input_html: { class: 'usa-select' },
                 label: t('simple_form.labels.service_provider.block_encryption'),
                 include_blank: false,
                 hint: t('service_provider_form.saml_assertion_encryption') %>

  <%= render partial: 'fieldset', locals: {
      form: form,
      fieldname: 'signed_response_message_requested',
      description: false,
      html_desc: false,
      input_type: 'radio',
      required: false,
      db_fieldname: :signed_response_message_requested,
      inputs: {
        "Yes" => true,
        "No" => false,
      },
    } %>
  

  <%= form.input :return_to_sp_url,
                input_html: { class: 'usa-input', aria: { invalid: false } },
                label_html: { class: 'usa-input-required'},
                label: t('simple_form.labels.service_provider.return_to_sp_url'),
                required: true,
                hint: t('service_provider_form.return_to_app_url_html') %>

  <%= form.input :push_notification_url,
                 as: :text,
                 input_html: { class: 'usa-input' },
                 label: t('simple_form.labels.service_provider.push_notification_url'),
                 hint: t('service_provider_form.push_notification_url') %>

  <%= form.input :redirect_uris,
                 input_html: { class: 'usa-input' },
                 label: t('simple_form.labels.service_provider.redirect_uris_saml'),
                 hint: t('service_provider_form.saml_redirects_html') %>
  <%= render partial:'footer', locals: { form: form } %>
<% end %>
