<h2>OpenID Connect (OIDC) requirements</h2>
<%= wizard_form do |form| %>
  <%= form.input :push_notification_url,
                 input_html: { class: 'usa-input' },
                 label: accessible_label(form, t('simple_form.labels.service_provider.push_notification_url'), :push_notification_url),
                 hint: t('service_provider_form.push_notification_url') %>
  <% if show_proof_failure_url? %>
    <%= form.input :failure_to_proof_url,
                   input_html: { class: 'usa-input' },
                   label_html: { class: 'usa-input-required'},
                   label: accessible_label(form, 'Failure to Proof URL', :failure_to_proof_url),
                   hint: I18n.t('service_provider_form.failure_to_proof_url'),
                   required: true %>
  <% end %>
  <%= form.input :redirect_uris,
                 input_html: { class: 'usa-input' },
                 label: accessible_label(form, t('simple_form.labels.service_provider.redirect_uris_oidc'), :redirect_uris),
                 hint: t('service_provider_form.oidc_redirects_html') %>
  <%= render partial:'footer', locals: { form: form } %>
<% end %>
