<h2>OpenID Connect (OIDC) requirements</h2>
<%= wizard_form do |form| %>
  <%= form.input :push_notification_url,
                 input_html: { class: 'usa-input' },
                 label: accessible_label(form, t('simple_form.labels.service_provider.push_notification_url'), :push_notification_url),
                 hint: t('service_provider_form.push_notification_url_html') %>
  <% if show_idv_redirect_urls? %>
    <%= form.input :failure_to_proof_url,
                   input_html: { class: 'usa-input', aria: { invalid: false } },
                   label_html: { class: 'usa-input-required'},
                   label: accessible_label(form, 'Failure to Proof URL', :failure_to_proof_url),
                   hint: I18n.t('service_provider_form.failure_to_proof_url'),
                   required: true %>
  <% end %>
  <%= render(WizardFieldsetComponent.new(
    form:,
    param_name: 'redirect_uris',
    input_type: 'multi-text',
    inputs: @model.redirect_uris,
  )) %>
  <%= render partial:'footer', locals: { form: form } %>
<% end %>
