<h2>OpenID Connect (OIDC) requirements</h2>
<%= wizard_form do |form| %>
  <%= form.error_notification %>
  <%= form.input :push_notification_url,
                 input_html: { class: 'usa-input' },
                 label: t('simple_form.labels.service_provider.push_notification_url'),
                 hint: t('service_provider_form.push_notification_url') %>
  <% if show_proof_failure_url? %>
    <%= form.input :failure_to_proof_url,
                   input_html: { class: 'usa-input', aria: { invalid: false } },
                   label_html: { class: 'usa-input-required'},
                   label: 'Failure to Proof URL',
                   hint: I18n.t('service_provider_form.failure_to_proof_url'),
                   aria_required: true %>
  <% end %>
  <%= form.input :redirect_uris,
                 input_html: { class: 'usa-input' },
                 label: t('simple_form.labels.service_provider.redirect_uris_oidc'),
                 hint: t('service_provider_form.oidc_redirects_html') %>
  <%= render partial:'footer', locals: { form: form } %>
<% end %>
