<h1 class="usa-display"><%= t('service_provider_form.wizard_steps.authentication') %></h1>
<p class="usa-intro"><%= t('simple_form.lead.authentication_html') %></p>
<div class="wizard-main">
<%= wizard_form do |form| %>
  <%# label the grouping of items using a fieldset and legend for screen readers %>
  <fieldset class='wizard-field radio service_provider_identity_protocol'>
    <legend class="usa-sr-only">
      <%= t('simple_form.labels.service_provider.identity_protocol') %>
    </legend>
    <div class="usa-label__group">
      <p class="usa-label radio required" aria-hidden="true">
        <%= t('simple_form.labels.service_provider.identity_protocol') %>
      </p>
      <%= form.hint t('service_provider_form.protocol') %>
    </div>
    <div class="usa-input__container">
      <% ServiceProvider.identity_protocols.each_key do |protocol| %>
        <div class="usa-radio">
          <%= form.radio_button :identity_protocol,
                                protocol,
                                class: 'usa-radio__input' %>
          <%= form.label ('identity_protocol_' + protocol).to_sym,
                         titleize(protocol),
                         class: 'usa-radio__label' %>
        </div>
      <% end %>
    </div>
  </fieldset>

  <%= form.input :ial,
                 as: :select,
                 collection: [[t('service_provider_form.ial_option_1'), 1],
                              [t('service_provider_form.ial_option_2'), 2]],
                 selected: form.object.ial,
                 input_html: { class: 'usa-input usa-select'},
                 label: t('simple_form.labels.service_provider.ial'),
                 hint: t('service_provider_form.identity_assurance_level_html') %>

  <%= form.input :default_aal,
                 as: :select,
                 collection: [
                   [t('service_provider_form.aal_option_default'), nil],
                   [t('service_provider_form.aal_option_2'), 2],
                   [t('service_provider_form.aal_option_3'), 3]],
                 selected: form.object.default_aal,
                 input_html: { class: 'usa-input usa-select'},
                 label: 'Default Authentication Assurance Level (AAL)' %>

  <fieldset class='wizard-field checkbox service_provider_attribute_bundle'>
    <legend class='usa-sr-only'>
      <%= t('simple_form.labels.service_provider.attribute_bundle') %>
    </legend>
    <div class="usa-label__group">
      <p class="usa-label json">
        <%= t('simple_form.labels.service_provider.attribute_bundle') %>
      </p>
      <%= form.hint t('service_provider_form.attribute_bundle_html') %>
    </div>
    <div class="usa-input__container">
      <%= form.collection_check_boxes(:attribute_bundle,
                                      ServiceProvider.possible_attributes,
                                      :first, :last,
                                      item_wrapper_tag: :div,
                                      item_wrapper_class: 'usa-checkbox ial-attr-wrapper') do |b| %>
        <%= b.check_box class: "usa-checkbox__input" %>
        <%= b.label class: "usa-checkbox__label" %>
      <% end %>
      <p class="usa-error-message js-bundle-input-error-message">
        <%= form.object.errors[:attribute_bundle].to_sentence.presence %>
      </p>
    </div>
  </fieldset>
  <%= form.submit 'Next', class: 'usa-button' if not last_step?  %>
<% end %>
</div>
