<%= page_heading t('service_provider_form.wizard_steps.authentication') %>
<p class="usa-intro"><%= t('simple_form.lead.authentication_html') %></p>
<div class="wizard-main">
<%= wizard_form do |form| %>

  <%= render(WizardFieldsetComponent.new(
      form:,
      disabled: policy(draft_service_provider).ial_readonly?,
      param_name: 'ial',
      input_type: 'radio',
      required: true,
      description_key: show_oidc_options? ? 'ial_oidc_html' : 'ial_saml_html',
      inputs: {
        t('service_provider_form.ial_option_1') => 1,
        t('service_provider_form.ial_option_2') => 2,
      }
    )) %>

  <%= render(WizardFieldsetComponent.new(
      form:,
      param_name: 'default_aal',
      description_key: show_oidc_options? ? 'aal_oidc_html' : 'aal_saml_html',
      input_type: 'radio',
      required: true,
      inputs: {
        t('service_provider_form.aal_option_default') => 0,
        t('service_provider_form.aal_option_2') => 2,
        t('service_provider_form.aal_option_3') => 3,
      }
    )) %>

  <%= render(WizardFieldsetComponent.new(
      form: form,
      param_name: 'attribute_bundle',
      input_type: 'checkbox',
      description_key: show_oidc_options? ? 'attribute_bundle_html' : 'attribute_bundle_saml_html',
      required: false,
      inputs: ServiceProvider.possible_attributes
    )) %>
  <%= render partial:'footer', locals: { form: form } %>
<% end %>
</div>
<%= javascript_include_tag 'wizard_step_authentication_form' %>
