<h1 class="usa-display"><%= t('service_provider_form.wizard_steps.help_text') %></h1>
<p class="usa-intro"><%= t('simple_form.lead.help_text') %></p>
<div class="wizard-main">
  <%= wizard_form do |form| %>
    <%= form.fields_for form.object.help_text, as: HelpText do |help_text_form| %>
      <%= render partial: 'fieldset', locals: {
          form: help_text_form,
          fieldname: 'help_text.sign_in',
          description: false,
          html_desc: false,
          db_fieldname: 'sign_in',
          input_type: 'radio',
          required: false,
          inputs: t('service_provider_form.help_text.sign_in', deep_interpolation: true,
                      sp_name: draft_service_provider['friendly_name'] || '<Application Friendly Name>',
                      agency: draft_service_provider['agency']&.name || '<Agency>'
                    ).to_a.map { |a| [a[1], a[0]] },
        } %>
      <%= render partial: 'fieldset', locals: {
          form: help_text_form,
          fieldname: 'help_text.sign_up',
          description: false,
          html_desc: false,
          db_fieldname: 'sign_up',
          input_type: 'radio',
          required: false,
          inputs: t('service_provider_form.help_text.sign_up', deep_interpolation: true,
                      sp_name: draft_service_provider['friendly_name'] || '<Application Friendly Name>',
                      agency: draft_service_provider['agency']&.name || '<Agency>'
                    ).to_a.map { |a| [a[1], a[0]] },
        } %>
      <%= render partial: 'fieldset', locals: {
          form: help_text_form,
          fieldname: 'help_text.forgot_password',
          description: false,
          html_desc: false,
          db_fieldname: 'forgot_password',
          input_type: 'radio',
          required: false,
          inputs: t('service_provider_form.help_text.forgot_password', deep_interpolation: true,
                      sp_name: draft_service_provider['friendly_name'] || '<Application Friendly Name>',
                      agency: draft_service_provider['agency']&.name || '<Agency>'
                    ).to_a.map { |a| [a[1], a[0]] },
        } %>
      <% end %>
      <div class="wizard-field">
      <div class="usa-label__group">
        <p class="usa-label"><%= t('simple_form.labels.service_provider.help_text.custom_help') %></p>
        <%= form.hint t('service_provider_form.custom_help_text_html') %>
      </div>
    </div>
    <%= render partial:'footer', locals: { form: form } %>
  <% end %>
</div>
