<h1 class="usa-display"><%= t('service_provider_form.wizard_steps.help_text') %></h1>
<p class="usa-intro"><%= t('service_provider_form.wizard_steps.help_text') %></p>
<div class="wizard-main">
  <%= wizard_form do |form| %>
    <%= form.fields_for :help_text do |h| %>
      <%= h.fields_for :sign_in do |s| %>
        <fieldset class="wizard-field radio service_provider_help_text_sign_in">
          <legend class="usa-sr-only"><%= t('simple_form.labels.service_provider.help_text.sign_in') %></legend>
          <div class="usa-label__group">
            <p class="usa-label radio optional"><%= t('simple_form.labels.service_provider.help_text.sign_in') %></p>
          </div>
          <div class="usa-input__container">
            <%= s.collection_radio_buttons(
              :en,
              t('service_provider_form.help_text.sign_in', deep_interpolation: true,
                sp_name: @service_provider.friendly_name || '<Application Friendly Name>',
                agency: @service_provider.agency&.name || '<Agency>'
              ),
              :first,
              :last,
              { checked: parsed_help_text.fetch('sign_in', HelpText::LOCALE_FOR_PRESETS)}
                ) do |r| %>
              <%= r.radio_button(class: 'usa-radio__input') %>
              <%= r.label(class: 'usa-radio__label margin-bottom-0') %>
            <% end %>
          </div>
        </fieldset>
      <% end %>
      <%= h.fields_for :sign_up do |s| %>
        <fieldset class="wizard-field radio service_provider_help_text_sign_up">
          <legend class="usa-sr-only"><%= t('simple_form.labels.service_provider.help_text.sign_up') %></legend>
          <div class="usa-label__group">
            <p class="usa-label radio optional"><%= t('simple_form.labels.service_provider.help_text.sign_up') %></p>
          </div>
          <div class="usa-input__container">
            <%= s.collection_radio_buttons(
              :en,
                t('service_provider_form.help_text.sign_up', deep_interpolation: true,
                  sp_name: @service_provider.friendly_name || '<Application Friendly Name>',
                  agency: @service_provider.agency&.name || '<Agency>'
                ),
                :first,
                :last,
                { checked: parsed_help_text.fetch('sign_up', HelpText::LOCALE_FOR_PRESETS)}
              ) do |r| %>
              <%= r.radio_button(class: 'usa-radio__input') %>
              <%= r.label(class: 'usa-radio__label margin-bottom-0')%>
            <% end %>
          </div>
        </fieldset>
      <% end %>
      <%= h.fields_for :forgot_password do |f| %>
        <fieldset class="wizard-field radio service_provider_help_text_forgot_password">
          <legend class="usa-sr-only"><%= t('simple_form.labels.service_provider.help_text.forgot_password') %></legend>
          <div class="usa-label__group">
            <p class="usa-label radio optional"><%= t('simple_form.labels.service_provider.help_text.forgot_password') %></p>
          </div>
          <div class="usa-input__container">
            <%= f.collection_radio_buttons(
              :en,
              t('service_provider_form.help_text.forgot_password'),
              :first,
              :last,
              { checked: parsed_help_text.fetch('forgot_password', HelpText::LOCALE_FOR_PRESETS)}
            ) do |r| %>
              <%= r.radio_button(class: 'usa-radio__input') %>
              <%= r.label(class: 'usa-radio__label margin-bottom-0'){ raw r.text} %>
            <% end %>
          </div>
        </fieldset>
      <% end %>
    <% end %>
    <div class="wizard-field">
      <div class="usa-label__group">
        <p class="usa-label"><%= t('simple_form.labels.service_provider.help_text.custom_help') %></p>
        <%= form.hint t('service_provider_form.custom_help_text_html') %>
      </div>
    </div>
  <% end %>
</div>
