<h1 class="usa-display"><%= t('service_provider_form.wizard_steps.intro') %></h1>
<div class="wizard-main">
  <p class="usa-intro"><%= t('service_provider_form.intro_html') %></p>
  <h2><%= t('simple_form.labels.service_provider.before_start') %></h2>
  <p class="usa-intro"><%= t('service_provider_form.before_start_1_html') %></p>
  <p class="usa-intro"><%= t('service_provider_form.before_start_2_html') %></p>
</div>
