<h1 class="usa-display"><%= t('service_provider_form.wizard_steps.intro') %></h1>
<div class="wizard-main">
  <h2 class="margin-y-3"><%= t('simple_form.labels.service_provider.create_sandbox_application') %></h2>
  <p class="usa-intro margin-y-3"><%= t('service_provider_form.intro_html') %></p>
  <div class="usa-accordion usa-accordion--bordered margin-bottom-4">
  <h3 class="usa-accordion__heading">
    <button
      type="button"
      class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="promote_accordion"
    >
    <%= t('simple_form.labels.service_provider.promote_to_production') %>
    </button>
  </h3>
  <div id="promote_accordion" class="usa-accordion__content usa-prose margin-bottom-4">
    <p class="usa-intro"><%= t('service_provider_form.before_start_1_html') %></p>
    <p class="usa-intro"><%= t('service_provider_form.before_start_2_html') %></p>
  </div>
</div>
<%= render partial:'footer' %>
