<%= page_heading t('service_provider_form.wizard_steps.intro') %>
<div class="wizard-main maxw-tablet">
  <h2 class="margin-y-3"><%= t('simple_form.labels.service_provider.create_sandbox_application') %></h2>
  <p class="usa-prose margin-y-3"><%= t('service_provider_form.intro_html') %></p>
  <div class="usa-accordion usa-accordion--bordered margin-bottom-4">
    <h3 class="usa-accordion__heading">
      <button
        type="button"
        class="usa-accordion__button"
        aria-expanded="false"
        aria-controls="promote_accordion"
      >
      <%= t('simple_form.labels.service_provider.promote_to_production') %>
      </button>
    </h3>
    <div id="promote_accordion" class="usa-accordion__content usa-prose margin-bottom-4">
      <p class="usa-prose"><%= t('service_provider_form.before_start_1_html') %></p>
      <%= t('service_provider_form.before_start_promotion_bullets_html') %>
      <p class="usa-prose"><%= t('service_provider_form.before_start_2_html') %></p>
    </div>
  </div>
</div>
<%= render partial:'footer' %>
