<h1 class="usa-display"><%= t('service_provider_form.wizard_steps.issuer') %></h1>
<p class="usa-intro"><%= t('simple_form.lead.issuer_html') %></p>
<div class="wizard-main">
<%= wizard_form do |form| %>
  <%= form.error_notification %>
  <%= form.input :issuer,
                 disabled: issuer_read_only?,
                 # required: true,
                 label: t('simple_form.labels.service_provider.issuer'),
                 label_html: { class: 'usa-input-required' },
                 input_html: { class: 'usa-input', aria: { invalid: false } },
                 error_messages: {
                  valueMissing: 'Issuer string is required and cannot be blank.'
                 },
                 hint: if issuer_read_only?
                    t('service_provider_form.change_issuer')
                  elsif show_saml_options?
                    t('service_provider_form.issuer_html') + t('service_provider_form.issuer_saml_html')
                  else
                    t('service_provider_form.issuer_html') + t('service_provider_form.issuer_oidc_html')
                  end %>
  <%= render partial:'footer', locals: { form: form } %>
<% end %>
</div>
