<h1 class="usa-display"><%= t('service_provider_form.wizard_steps.issuer') %></h1>
<p class="usa-intro"><%= t('simple_form.lead.issuer_html') %></p>
<div class="wizard-main">
<%= wizard_form do |form| %>
  <%= form.input :issuer,
                 disabled: form.object.persisted?,
                 label: t('simple_form.labels.service_provider.issuer'),
                 label_html: { class: 'usa-input-required' },
                 input_html: { class: 'usa-input', aria: { invalid: false } },
                 hint: if form.object.persisted?
                     I18n.t('service_provider_form.change_issuer')
                   else
                     t('service_provider_form.issuer_html')
                   end %>
  <%= render partial:'footer', locals: {form: form} %>
<% end %>
</div>
