<%= page_heading t('service_provider_form.wizard_steps.issuer') %>
<p class="usa-intro"><%= t('simple_form.lead.issuer_html') %></p>
<div class="wizard-main">
<%= wizard_form do |form| %>
  <%= form.input :issuer,
                  disabled: issuer_read_only?,
                  required: true,
                  label: accessible_label(form, t('simple_form.labels.service_provider.issuer'), :issuer),
                  label_html: { class: 'usa-input-required' },
                  input_html: { class: 'usa-input', aria: { invalid: false } },
                  hint: t("service_provider_form.issuer_#{show_saml_options? ? 'saml' : 'oidc'}_html")
  %>
  <%= render partial:'footer', locals: { form: form } %>
<% end %>
</div>
