<h1 class="usa-display"><%= t('service_provider_form.wizard_steps.logo_and_cert') %></h1>
<div class="wizard-main">
  <%= wizard_form do |form| %>
    <fieldset class='wizard-field json optional service_provider_logo_file'>
      <legend class="usa-sr-only"><%= t('simple_form.labels.service_provider.logo_file') %></legend>
      <div class="usa-label__group">
        <p class="usa-label"><%= t('simple_form.labels.service_provider.logo_file') %></p>
        <%= form.hint t('service_provider_form.logo_html') %>
      </div>
      <div class="usa-input__container">
        <label for="logo-input"><%= t('service_provider_form.logo_input') %></label>
        <%= form.file_field :logo_file,
                            id: 'logo-input',
                            class: 'usa-file-input input-file__logo',
                            accept: sp_valid_logo_mime_types.join(',') %>

        <%# TODO: uncomment and get file uploads working %>
        <%# if form.object.logo_file.attached? && form.object.logo_file.persisted? %>
          <%# <p class="font-mono-xs margin-top-0" name="logo_file"> %>
            <%#= image_tag url_for(form.object.logo_file), height: '120px' %>
          <%# </p> %>
        <%# end %>
      </div>
    </fieldset>
    <%# TODO: uncomment and get file uploads working %>
    <%#= javascript_include_tag 'validate_logo_size' %>

    <fieldset class="wizard-field file service_provider_logo_file" id="certificate-container">
      <legend class="usa-sr-only"><%= t('simple_form.labels.service_provider.upload_certificate') %></legend>
      <div class="usa-label__group">
        <p class="usa-label"><%= t('simple_form.labels.service_provider.upload_certificate') %></p>
        <%= form.hint t('service_provider_form.certificate_html') %>
        <pre><code>-----BEGIN CERTIFICATE-----
MIIDXTCCAkWgAwIBAgIJAJC1HiIAZAiIMA0GCSqGSIb3Df
BAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVx
B7xxt8BVc69rHV15A0qyx77CLSj3tCx2IUXVqRs5mlvA==
-----END CERTIFICATE-----</code></pre>
      </div>
      <div class="usa-input__container">
        <% form.object.certificates.each do |certificate| %>
          <% render 'certificate', certificate: certificate do %>
            <div class="usa-alert usa-alert--warning usa-alert--no-icon" >
              <div class="usa-alert__text">
                <% check_box_tag "wizard_step[remove_certificates][#{certificate.serial}]",
                                  certificate.serial,
                                  false,
                                  name: "wizard_step[remove_certificates][]",
                                  class: 'usa-checkbox__input' %>
                <% content_tag :label,
                                for: "wizard_step_remove_certificates_#{certificate.serial}",
                                class: 'usa-checkbox__label' do %>
                  <% t('simple_form.labels.service_provider.remove_cert') %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>

        <div>
          <label for="pem-input"><%= t('service_provider_form.cert_input') %></label>
          <span class="usa-error-message js-pem-input-error-message">
            <%= form.object.errors[:certs].to_sentence.presence %>
          </span>
          <%= form.file_field :cert,
                              id: 'pem-input',
                              class: 'usa-file-input input-file__pem' %>
        <div>
      </div>
    </fieldset>
    <%= render partial:'footer', locals: { form: form } %>
  <% end %>
</div>
