<%= wizard_form do |form| %>
  <div class='mb2 json optional service_provider_logo_file'>
  <%= form.label :logo_file,
                  label: 'Upload your logo',
                  class: 'usa-label' %>
  <%= form.file_field :logo_file,
                  class: 'input-file logo-input-file',
                  accept: sp_valid_logo_mime_types %>
  <% if @service_provider.logo_file.attached?  && service_provider.logo_file.persisted? %>
    <p class="font-mono-xs margin-top-0" name="logo_file">
      <%= image_tag url_for(@service_provider.logo_file), height: '120px' %>
    </p>
  <% end %>
  <div class='input-file-wrapper'>
    <%= form.label :logo_file,
                    label: 'Choose a file',
                    class: 'usa-button file-input-button',
                    id: 'logo-file-button' %>
    <%= content_tag :div,
                    "No file selected",
                    class: 'input-preview' %>
  </div>
  <%= form.hint 'Choose a file to upload as your logo. See <a href="https://developers.login.gov/design-guidelines/#agency-logo-guidelines">guidelines</a> for details.'.html_safe %>
  <div class='usa-error-message' id='logo-upload-error'>
    <% if @service_provider.errors[:logo_file].present? %>
      ERROR:
      <%= s@ervice_provider.errors[:logo_file].join('|') %>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'validate_logo_size' %>
  <fieldset class="usa-fieldset" id="certificate-container">
    <div class="usa-label">Certificates</div>

    <p>
      <% I18n.t('service_provider_form.certificate') =%>
    </p>


    <% @service_provider.certificates.each do |certificate| %>
      <%= render 'certificate', certificate: certificate do %>
        <div class="usa-alert usa-alert--warning usa-alert--no-icon" >
          <div class="usa-alert__text">
            <%= check_box_tag "service_provider[remove_certificates][#{certificate.serial}]",
                              certificate.serial,
                              false,
                              name: "service_provider[remove_certificates][]",
                              class: 'usa-checkbox__input' %>
            <%= content_tag :label,
                            for: "service_provider_remove_certificates_#{certificate.serial}",
                            class: 'usa-checkbox__label' do %>
              Remove this certificate
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class="lg-card margin-top-2">
      <label class="usa-label margin-top-0" for="service_provider_cert">
        Upload a new public cert
      </label>

      <div class="clearfix">
        <span class="usa-error-message js-pem-input-error-message">
          <%= @service_provider.errors[:certs].to_sentence.presence %>
        </span>
        <%= form.file_field :cert, class: 'input-file js-pem-input' %>
        <label class="usa-button file-input-button" for="service_provider_cert">
          Choose a cert file
        </label>
        <div class="margin-top-4 js-pem-file-name"></div>
      </div>

      <div class="margin-top-2">
        <p>
          Take a look at our developer documentation for
          <a href="https://developers.login.gov/testing/#creating-a-public-certificate">
          how to generate a public-private key pair</a>.
        </p>
        <p>
          Certificate must be
          <a href="https://en.wikipedia.org/wiki/Privacy-enhanced_Electronic_Mail" target="_blank">PEM encoded</a>,
          like this example:
        </p>
        <pre><code>-----BEGIN CERTIFICATE-----
MIIDXTCCAkWgAwIBAgIJAJC1HiIAZAiIMA0GCSqGSIb3Df
BAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVx
B7xxt8BVc69rHV15A0qyx77CLSj3tCx2IUXVqRs5mlvA==
-----END CERTIFICATE-----</code></pre>
      </div>
    </div>
  </fieldset>
<% end %>
