<%= page_heading t('service_provider_form.wizard_steps.protocol') %>
<p class="usa-intro"><%= t('simple_form.lead.protocol_html') %></p>
<div class="wizard-main">
<%= wizard_form do |form| %>
  <%= render(WizardFieldsetComponent.new(
      form: form,
      param_name: 'identity_protocol',
      description_key: 'identity_protocol_html',
      input_type: 'radio',
      required: true,
      inputs: ServiceProvider.identity_protocols.map { |k,v|
        [titleize(k), k] }.to_h,
    )) %>

  <%= render partial:'footer', locals: { form: form } %>
<% end %>
</div>
