<h1 class="usa-display"><%= t('service_provider_form.wizard_steps.settings') %></h1>
<p class="usa-intro"><%= t('simple_form.lead.settings_html') %></p>
<div class="wizard-main">
  <%= wizard_form do |form| %>
    <%= form.association :team,
                         as: :usa_collection_select,
                         value_method: :id,
                         collection: current_user.scoped_teams,
                         label: accessible_label(form, t('simple_form.labels.service_provider.team'), :group_id),
                         prompt: t('simple_form.labels.select'),
                         disabled: !can_edit_teams?(current_user),
                         required: true,
                         hint: I18n.t('service_provider_form.team') %>

    <%= render partial: 'fieldset', locals: {
        form: form,
        fieldname: 'dashboard_config',
        description: false,
        html_desc: false,
        input_type: 'radio',
        required: true,
        db_fieldname: :prod_config,
        inputs: {
          t('simple_form.labels.service_provider.sandbox') => false,
          t('simple_form.labels.service_provider.production') => true,
        },
      } %>

    <%= form.input :app_name,
                    input_html: { class: 'usa-input' },
                    label_html: { class: 'usa-input-required'},
                    required: true,
                    label: accessible_label(form, t('simple_form.labels.service_provider.app_name'), :app_name),
                    placeholder: 'Ex: DHS-CSP',
                    hint: t('service_provider_form.app_name_html') %>

    <%= form.input :friendly_name,
                    input_html: { class: 'usa-input' },
                    label_html: { class: 'usa-input-required'},
                    required: true,
                    label: accessible_label(form, t('simple_form.labels.service_provider.friendly_name'), :friendly_name),
                    placeholder: 'Ex: DHS Customer Service Portal',
                    hint: t('service_provider_form.friendly_name_html') %>

    <%= form.input :description,
                    as: :usa_textarea,
                    label_html: { class: 'usa-input-optional' },
                    label: accessible_label(form, t('simple_form.labels.service_provider.description'), :description),
                    hint: I18n.t('service_provider_form.description') %>
    <%= render partial:'footer', locals: { form: form } %>
  <% end %>
</div>
