<%= page_heading t('service_provider_form.wizard_steps.settings') %>
<p class="usa-intro"><%= t('simple_form.lead.settings_html') %></p>
<div class="wizard-main">
  <%= wizard_form do |form| %>
    <%= form.association :team,
                         as: :usa_collection_select,
                         value_method: :id,
                         collection: current_user.scoped_teams,
                         label: accessible_label(form, t('simple_form.labels.service_provider.team'), :group_id),
                         prompt: t('simple_form.labels.select'),
                         disabled: !can_edit_teams?(current_user),
                         required: true,
                         hint: I18n.t('service_provider_form.team_guided') %>

    <%= render(WizardFieldsetComponent.new(
        form: form,
        param_name: 'prod_config',
        input_type: 'radio',
        required: true,
        description_key: '',
        inputs: {
          t('simple_form.labels.service_provider.sandbox') => false,
          t('simple_form.labels.service_provider.production') => true,
        },
      )) unless prod_like_env? %>
    
    <%= form.hidden_field(:prod_config, value: true) if prod_like_env? %>

    <%= form.input :app_name,
                    input_html: { class: 'usa-input', aria: { invalid: false } },
                    label_html: { class: 'usa-input-required'},
                    required: true,
                    label: accessible_label(form, t('simple_form.labels.service_provider.app_name'), :app_name),
                    placeholder: 'Ex: DHS-CSP',
                    hint: t('service_provider_form.app_name_guided_html') %>

    <%= form.input :friendly_name,
                    input_html: { class: 'usa-input', aria: { invalid: false } },
                    label_html: { class: 'usa-input-required'},
                    required: true,
                    label: accessible_label(form, t('simple_form.labels.service_provider.friendly_name'), :friendly_name),
                    placeholder: 'Ex: DHS Customer Service Portal',
                    hint: t('service_provider_form.friendly_name_guided') %>
    <%= form.input :description,
                    as: :usa_textarea,
                    label_html: { class: 'usa-input-optional' },
                    label: accessible_label(form, t('simple_form.labels.service_provider.description'), :description),
                    hint: I18n.t('service_provider_form.description_guided') %>
    <%= render partial:'footer', locals: { form: form } %>
  <% end %>
</div>
