<h1 class="usa-display"><%= t('service_provider_form.wizard_steps.settings') %></h1>
<p class="usa-intro"><%= t('simple_form.lead.settings_html') %></p>
<div class="wizard-main">
  <%= wizard_form do |form| %>
    <%= form.association :team,
                         as: :usa_collection_select,
                         value_method: :id,
                         collection: current_user.scoped_teams,
                         label: t('simple_form.labels.service_provider.team'),
                         prompt: t('simple_form.labels.select'),
                         disabled: !can_edit_teams?(current_user),
                         required: true,
                         hint: I18n.t('service_provider_form.team') %>

    <%= render partial: 'fieldset', locals: {
        form: form,
        fieldname: 'dashboard_config',
        description: false,
        html_desc: false,
        input_type: 'radio',
        required: true,
        db_fieldname: :prod_config,
        inputs: {
          t('simple_form.labels.service_provider.sandbox') => false,
          t('simple_form.labels.service_provider.production') => true,
        },
      } %>

    <%= render partial: 'fieldset', locals: {
      form: form,
      fieldname: 'app_name',
      required: true,
      description: true,
      html_desc: true,
      input_type: false,
      inputs: ->(opts) { form.input_field :app_name, **{placeholder: 'Ex: DHS-CSP'}.merge(opts) }
    } %>

    <%= render partial: 'fieldset', locals: {
      form: form,
      fieldname: 'friendly_name',
      required: true,
      description: true,
      html_desc: true,
      input_type: false,
      inputs: ->(opts) { form.input_field :app_name, **{
        placeholder: 'Ex: DHS Customer Service Portal',
        aria: { invalid: false }
      }.merge(opts) }
    } %>

    <%= render partial: 'fieldset', locals: {
      form: form,
      fieldname: 'description',
      required: false,
      description: true,
      html_desc: false,
      input_type: :usa_textarea,
      inputs: ->(opts) { form.input_field :app_name, **opts }
    } %>

    <%= render partial:'footer', locals: { form: form } %>
  <% end %>
</div>
