<%# locals: deploy_statuses %>

<% deploy_statuses.each do |environment| %>
  <h2 class='h3 sans-serif caps' id='<%= environment.env %>'>
    <%= link_to(environment.env, "##{environment.env}") %>
  </h2>
  <div class="flex flex-wrap mxn2 mb4">
    <% environment.statuses.each do |status| %>
      <div class='col col-12 sm-col-4 md-col-2 px2'>
        <div class='mb2 p2 h6 border rounded <%= status.status_class %>'>
          <div class='mb1 bold'>
            <% if status.host %>
              <%= link_to status.short_name, status.host %>
            <% else %>
              <%= status.short_name %>
            <% end %>
          </div>
          <% if status.error %>
            <%= status.error %>
          <% else %>
            <div class='mb1'>
              <span class='monospace'>
                <%= status.branch %> @
                <%= link_to status.short_sha, status.commit_url %>
              </span>
            </div>
            <%= t('home.deployed_by_html',
              user: content_tag(:em, status.user),
              time: time_ago_in_words(status.timestamp),
              href: link_to(t('links.pending_changes'), status.pending_url)
              )
            %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
