<% unless user_signed_in? %>
  <p>Log in to manage your test applications.</p>
<% end %>

<h1>Environments status</h1>

<% @deploy_statuses.each do |environment| %>

  <h2>
  <% case environment.env
     when 'prod' %>
       Production
  <% when 'staging' %>
       Staging
  <% when 'int' %>
       Agency integration
  <% when 'qa' %>
       Quality assurance
  <% when 'dev' %>
       Development
  <% end %>
  </h2>

  <% environment.statuses.each do |status| %>
    <div>

      <% if status.host %>
        💚 <%= link_to status.short_name, status.host %> —
      <% else %>
        💔 <%= status.short_name %> —
      <% end %>

      <% if status.error %>
        <%= status.error %>
      <% else %>
        <%= status.branch %> @ <%= link_to status.short_sha, status.commit_url %> —
        <%= t 'home.deployed_by_html',
            time: time_ago_in_words(status.timestamp),
            href: link_to(t('links.pending_changes'), status.pending_url) %>
      <% end %>

    </div>
  <% end %>

<% end %>
