<% unless user_signed_in? %>
  <section class="site-hero usa-section--dark padding-bottom-4 padding-top-1">
    <div class="grid-container">
      <div class="grid-col-8">
        <h1>Simple integration for a more secure login experience</h1>
        <p>Manage and test your integrations in the Partner Portal sandbox so that yor users can log in with confidence.</p>
        <%= button_to t('links.sign_in'),
                      '/auth/logindotgov',
                      method: :post,
                      class: 'usa-button' %>
        <%= link_to t('home.dev_docs'),
                    'https://developers.login.gov',
                    class: 'usa-button usa-button--inverse' %>
      </div>
    </div>
  </section>
  <section class="grid-container">
    <h2 class="border-bottom border-primary-light padding-bottom-2 margin-top-4">Discover the possibilities</h2>
    <ul class="usa-card-group">
      <% Portal::Constants::LANDING_CARDS.each do |content| %>
        <%= render 'components/feature_card', content: content %>
      <% end %>
    </ul>
  </section>
  <h1 class="usa-display">
    <%= t 'home.body_intro' %>
  </h1>
  <div class="usa-prose">

  <p>
    <%= t 'home.body_partners_html',
        href_partners: link_to(t('home.partners_link'), 'https://login.gov/partners') %>
  </p>
</div>
<% end %>
