<fieldset class="usa-fieldset">
  <%= form_with url: team_users_path(@team), method: :post, local: true, html: { autocomplete: 'off' } do %>
    <div id="user-rows">
      <div class="user-row grid-row grid-gap margin-bottom-2" data-row-index="0">
        <div class="grid-col-5">
          <label class="usa-label" for="users_0_email">Email <abbr class="text-secondary-dark text-no-underline" title="required">*</abbr></label>
          <input class="usa-input" type="email" name="users[][email]" id="users_0_email" required />
        </div>
        <div class="grid-col-5">
          <label class="usa-label" for="users_0_role_name">Access level <abbr class="text-secondary-dark text-no-underline" title="required">*</abbr></label>
          <select class="usa-select" name="users[][role_name]" id="users_0_role_name" required>
            <option value="">Select role</option>
            <% roles_for_options.each do |label, value| %>
              <option value="<%= value %>"><%= label %></option>
            <% end %>
          </select>
        </div>
        <div class="grid-col-2 display-flex flex-align-end">
          <button type="button" class="usa-button usa-button--secondary remove-row" disabled>
            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
              <use href="<%= asset_path 'sprite.svg#remove_circle' %>"></use>
            </svg>
            Remove
          </button>
        </div>
      </div>
    </div>

    <button type="button" class="usa-button usa-button--unstyled" id="add-user-row">
      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
        <use href="<%= asset_path 'sprite.svg#add_circle' %>"></use>
      </svg>
      Add another user
    </button>

    <div class="margin-top-4">
      <%= submit_tag 'Add to team', class: 'usa-button' %>
      <%= link_to 'Cancel', team_users_path(@team), class: 'usa-button usa-button--unstyled margin-left-2' %>
    </div>
  <% end %>
</fieldset>

<%= javascript_include_tag 'add_team_users_form' %>
