<%# Feature flagging for access_controls_enabled currently not required in this view because it is done in the controller. %>
<h1 class="usa-display">
  Edit user
  <% if @user.first_name && @user.last_name %>
    <%= "#{@user.first_name} #{@user.last_name} (#{@user.email})" %>
  <% else %>
    <%= @user.email %>
  <% end %>
</h1>

<%= simple_form_for(@membership, url: team_user_path(@membership.team, @user), html: { autocomplete: 'off' }) do |form| %>
  <%= form.error_notification %>
  <fieldset class="usa-fieldset margin-top-3">
    <legend><p id='rbac_description'><%= t('user_teams.rbac_description') %></p></legend>
    <%= render(RadioCollectionComponent.new(
      form: form,
      model_method: :role_name,
      describedby: 'rbac_description',
      inputs: roles_for_options,
      default: @membership.role&.name,
      disabled: false,
      additional_descriptions: true
    )) %>
  </fieldset>
  <%= form.button :submit, 'Update', :class => "usa-button float-left" %>
  <%= link_to t('forms.buttons.cancel'), team_users_path(@team),
              class: 'usa-button usa-button--outline float-left' %>
<% end %>
