<% content_for(:title, 'Manage team members') %>
<% if policy(@current_team_membership).create? %>
  <h1>Manage users for <%= @team.name %></h1>
  <p>Manage team members from this screen. Add a new user and manage access and permissions from the Actions column.</p>
  <%= button_to "Add user",
    new_team_user_path(@team.id),
    method: :get,
    class: 'usa-button usa-button--outline'
  %>
<% else %>
  <h1>Users for <%= @team.name %></h1>
  <p>View team members from this screen.</p>
<% end %>

<table class="usa-table">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Last Login</th>
      <th scope="col">Role</th>
      <% if show_actions? %>
        <th scope="col">Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @team_memberships.each do |membership| %>
      <tr>
        <td><%= membership.user.email %></td>
        <td><%= membership.user.last_sign_in_at || "Never" %></td>
        <td><%= membership.role&.friendly_name %></td>
        <% if show_actions? %>
          <td>
            <% if policy(membership).edit? %>
              <%= link_to 'Edit',
                          edit_team_user_path(@team, membership.user),
                          class: 'usa-button--unstyled usa-link margin-right-1' %>
            <% end %>
            <% if policy(membership).remove_confirm? %>
              <%= link_to 'Remove', team_remove_confirm_path(@team.id, membership.user.id),
                          form_class: 'display-inline',
                          method: :get,
                          class: 'usa-button--unstyled usa-link margin-right-1' %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Back", team_path(@team.id), class: 'usa-button usa-button--outline' %>
