<% if policy(@current_user_team_membership).manage_team_users? %>
  <h1>Manage users for <%= @team.name %></h1>
<% else %>
  <h1>Users for <%= @team.name %></h1>
<% end %>

<% if policy(@current_user_team_membership).manage_team_users? %>
  <%= button_to "Add user",
    new_team_user_path(@team.id),
    method: :get,
    class: 'usa-button usa-button--outline'
  %>
<% end %>
<table class="usa-table">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Last Login</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @team.user_teams.each do |membership| %>
      <tr>
        <td><%= membership.user.email %></td>
        <td><%= membership.user.last_sign_in_at || "Never" %></td>
        <td>
          <% if policy(membership).remove_confirm? %>
            <%= link_to 'Delete', team_remove_confirm_path(@team.id, membership.user.id),
                        form_class: 'display-inline',
                        method: :get,
                        class: 'usa-button--unstyled usa-link margin-right-1' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Back", team_path(@team.id), class: 'usa-button usa-button--outline' %>
