<% content_for(:title, 'Add team member') %>
<h1 class="usa-display">Add new user to <%= @team.name %></h1>

<%= simple_form_for(@user,
    html: { autocomplete: 'off' },
    url: team_users_path(@team)) do |form| %>
  <%= render 'form', form: form %>
  <div class="margin-top-2">
    <%= form.button :submit, 'Add', :class => "usa-button" %>
    <%= link_to 'Back', team_users_path(@team),
                class: 'usa-button usa-button--outline' %>
  </div>
<% end %>
