<% content_for(:title, 'Add team member') %>
<% if @show_wizard %>
  <%= render partial: 'components/step_progress',
      locals: {
        steps: @steps,
        current_step_index: 1,
        localization_base: 'teams.wizard_steps',
      }
  %>
<% end %>
<h1 class="usa-display">Add new user to <%= @team.name %></h1>

<p class="usa-intro">Enter email address and select access levels for your team members.</p>

<div class="border-top-1px border-base-lighter padding-top-2">
  <p class="margin-bottom-5">You can manage users and change access levels anytime.</p>

  <% if IdentityConfig.store.prod_like_env && @remove_partner_admin %>
    <p class="margin-bottom-5">In order to give <strong><%=
      t('role_names.production.partner_admin')
    %></strong> role, you must first connect with <%= link_to "Airtable", @oauth_url, class: "usa-link" %> with OAuth.</p>
  <% end %>
  
  <div class="usa-accordion usa-accordion__heading usa-accordion--bordered margin-bottom-3">
    <button class="usa-accordion__button padding-y-1" aria-expanded="false" aria-controls="access-levels-content">
      <span class="font-body-md text-normal line-height-sans-1">What are the different access levels?</span>
    </button>
    <div id="access-levels-content" class="usa-accordion__content">
      <ul class="usa-list">
        <li><strong><%= IdentityConfig.store.prod_like_env ? 'Production' : 'Sandbox' %> Admin:</strong> Can add and delete users on teams; grant and rescind permissions; edit and delete existing configs; view reports for existing configs</li>
        <li><strong><%= IdentityConfig.store.prod_like_env ? 'Production' : 'Sandbox' %> Developer:</strong> Can view and edit configurations but cannot publish or manage users</li>
        <li><strong><%= IdentityConfig.store.prod_like_env ? 'Production' : 'Sandbox' %> Viewer:</strong> Can only view configurations (read-only access)</li>
      </ul>
    </div>
  </div>
</div>

<% if @errors&.any? %>
  <div class="usa-alert usa-alert--error margin-bottom-2">
    <div class="usa-alert__body">
      <% @errors.each do |error| %>
        <p class="usa-alert__text"><%= error[:messages].join(', ') %></p>
      <% end %>
    </div>
  </div>
<% end %>

<%= render 'form' %>
