
<fieldset class="usa-fieldset-inputs custom-help-text">
  <legend>Custom help text</legend>
  <p>You can choose from the default help text options to alert users of important information at the sign-in, sign-up, and forgot password stages of logging into your app.</p>
  <p>If your app requires custom help text, reach out to the <a href="https://zendesk.login.gov">Partner Support Help Desk</a>. Help text guidance is outlined in the User experience section of the developer documentation. You should understand the guidance when you request support.</p>
  <%= form.fields_for :help_text do |h| %>
    <%= h.fields_for :sign_in do |s| %>
      <fieldset class="usa-fieldset">
        <legend class="usa-label">Sign-in help text:</legend>
        <ul class="usa-input-list">
          <%= s.collection_radio_buttons(:en,
                                        service_provider.help_text_opts['sign_in'],
                                        :last, :last,
                                        { checked: service_provider.help_text['sign_in']['en'],
                                          item_wrapper_tag: :li }) do |r| %>
            <%= r.radio_button(class: 'usa-radio__input') %>
            <%= r.label(class: 'usa-radio__label') %>
          <% end %>
        </ul>
      </fieldset>
    <% end %>

    <%= h.fields_for :sign_up do |s| %>
      <fieldset class="usa-fieldset">
        <legend class="usa-label">Sign-up help text:</legend>
        <ul class="usa-input-list">
          <%= s.collection_radio_buttons(:en,
                                        service_provider.help_text_opts['sign_up'],
                                        :last, :last,
                                        { checked: service_provider.help_text['sign_up']['en'],
                                          item_wrapper_tag: :li }) do |r| %>
            <%= r.radio_button(class: 'usa-radio__input') %>
            <%= r.label(class: 'usa-radio__label')%>
          <% end %>
        </ul>
      </fieldset>
    <% end %>

    <%= h.fields_for :forgot_password do |f| %>
      <fieldset class="usa-fieldset">
        <legend class="usa-label">Forgot password help text:</legend>
        <ul class="usa-input-list">
          <%= f.collection_radio_buttons(:en,
                                        service_provider.help_text_opts['forgot_password'],
                                        :last, :last,
                                        { checked: service_provider.help_text['forgot_password']['en'],
                                          item_wrapper_tag: :li }) do |r| %>
            <%= r.radio_button(class: 'usa-radio__input') %>
            <%= r.label(class: 'usa-radio__label') %>
          <% end %>
        </ul>
      </fieldset>
    <% end %>
  <% end %>
</fieldset>
