<%= form.error_notification %>
<fieldset class='usa-fieldset'>

  <legend class='usa-sr-only'>Production Configuration</legend>
  <%= form.label :prod_config,
                 label: 'Production Configuration',
                 class: 'usa-label',
                 hint: I18n.t('service_provider_form.prod_config').html_safe %>
  <%= form.collection_radio_buttons(:prod_config,
                                    { "Yes" => true, "No" => false },
                                    :last, :first,
                                    collection_wrapper_tag: :ul,
                                    collection_wrapper_class: 'usa-input-list',
                                    item_wrapper_tag: :li) do |b| %>
    <%=  b.radio_button(class: "usa-radio__input") %>
    <%=  b.label(class: "usa-radio__label")%>
  <% end %>
  <%= form.hint I18n.t('service_provider_form.prod_config') %>

  <%= form.input :app_name,
                 input_html: { class: 'usa-input' },
                 label_html: { class: 'usa-input-required'},
                 label: 'App name',
                 hint: I18n.t('service_provider_form.app_name') %>

  <%= form.input :friendly_name,
                 input_html: { class: 'usa-input' },
                 label_html: { class: 'usa-input-required'},
                 label: 'Friendly name',
                 hint: I18n.t('service_provider_form.friendly_name') %>


  <%= form.input :description,
                 as: :usa_textarea,
                 label_html: { class: 'usa-input-optional' },
                 label: 'Description',
                 hint: I18n.t('service_provider_form.description') %>

  <%= form.association :team,
                       as: :usa_collection_select,
                       value_method: :id,
                       collection: current_user.scoped_teams,
                       label: 'Team',
                       disabled: !can_edit_teams?(current_user),
                       hint: I18n.t('service_provider_form.team') %>


  <%# label the grouping of items using a fieldset and legend for screen readers,
      and use UL for radio buttons %>
  <fieldset class='usa-fieldset'>
    <legend class='usa-sr-only'>Authentication protocol</legend>
    <%= form.label :identity_protocol,
                   label: 'Authentication protocol',
                   class: 'usa-label' %>
    <%= content_tag(:ul, class: 'usa-input-list') do
      ServiceProvider.identity_protocols.each_key do |protocol| %>
        <%= content_tag(:li) do %>
          <%= form.radio_button :identity_protocol,
                                protocol,
                                class: 'usa-radio__input' %>
          <%= form.label ('identity_protocol_' + protocol).to_sym,
                         protocol.titleize,
                         class: 'usa-radio__label' %>
        <% end %>
      <% end %>
    <% end %>
    <%= form.hint I18n.t('service_provider_form.protocol') %>
  </fieldset>

  <%= form.input :ial,
                 as: :select,
                 collection: [['IAL1 (standard)', 1], ['IAL2 (verified identity with SSN)', 2]],
                 selected: form.object.ial,
                 input_html: { class: 'usa-input usa-select'},
                 label: 'Identity Assurance Level (IAL)',
                 hint: I18n.t('service_provider_form.identity_assurance_level') %>

  <%= form.input :default_aal,
                 as: :select,
                 collection: [
                   ['', nil],
                   ['AAL2', 2],
                   ['AAL3', 3]],
                 selected: form.object.default_aal,
                 input_html: { class: 'usa-input usa-select'},
                 label: 'Default Authentication Assurance Level (AAL)',
                 hint: I18n.t('service_provider_form.default_authentication_assurance_level') %>

  <%# label the grouping of items using a fieldset and legend for screen readers,
      and use UL for checkboxes%>
  <fieldset class='usa-fieldset-inputs usa-fieldset'>
    <legend class='usa-sr-only'>Attribute bundle</legend>
    <%= form.label :attribute_bundle,
                   label: 'Attribute bundle',
                   class: 'usa-label' %>
    <%= form.hint I18n.t('service_provider_form.attribute_bundle').html_safe %>

    <span class="usa-error-message js-bundle-input-error-message">
      <%= service_provider.errors[:attribute_bundle].to_sentence.presence %>
    </span>

    <%= form.collection_check_boxes(:attribute_bundle,
                                    ServiceProvider.possible_attributes,
                                    :first, :last,
                                    collection_wrapper_tag: :ul,
                                    collection_wrapper_class: 'usa-input-list',
                                    item_wrapper_tag: :li,
                                    item_wrapper_class: 'ial-attr-wrapper') do |b| %>
      <%= b.check_box class: "usa-checkbox__input" %>
      <%= b.label class: "usa-checkbox__label" %>
    <% end %>
  </fieldset>

  <%= form.input :issuer,
                 disabled: form.object.persisted?,
                 label: 'Issuer',
                 label_html: { class: 'usa-input-required'},
                 input_html: { class: 'usa-input'},
                 hint: if form.object.persisted?
                     I18n.t('service_provider_form.change_issuer')
                   else
                     I18n.t('service_provider_form.issuer').html_safe
                   end %>

  <% if current_user.admin? %>
    <%= form.input :production_issuer,
                   label: 'Production Issuer',
                   input_html: { class: 'usa-input' } %>

    <%# allow_prompt_login checkbox %>
    <fieldset class="usa-fieldset">
      <legend class="usa-sr-only">Enable prompt=login</legend>
      <%= form.label :allow_prompt_login,
                      label: 'Enable <prompt=login>',
                      class: 'usa-label' %>
      <ul class="usa-input-list">
        <li>
          <%= form.check_box :allow_prompt_login, class: 'usa-checkbox__input' %>
          <%= form.label :allow_prompt_login, 'Enabled', class: 'usa-checkbox__label' %>
        </li>
      </ul>
    </fieldset>

    <%# email_nameid_format_allowed checkbox %>
    <fieldset class="usa-fieldset">
      <legend class="usa-sr-only">Allow email NameID Format</legend>
      <%= form.label :email_nameid_format_allowed,
                      label: 'Allow Email NameID Format',
                      class: 'usa-label' %>
      <ul class="usa-input-list">
        <li>
          <%= form.check_box :email_nameid_format_allowed, class: 'usa-checkbox__input' %>
          <%= form.label :email_nameid_format_allowed, 'Enabled', class: 'usa-checkbox__label' %>
        </li>
      </ul>
    </fieldset>
  <% end %>

  <%# Temp hack to allow feature in dev but not int for testing %>
  <% if IdentityConfig.store.logo_upload_enabled %>
    <%= render 'logo_upload', form: form, service_provider: service_provider %>
  <% else %>
    <%= form.input :logo,
                   placeholder: 'generic.svg',
                   label: 'Logo',
                   input_html: { class: 'usa-input' },
                   hint: I18n.t('service_provider_form.logo').html_safe %>
  <% end %>

  <fieldset class="usa-fieldset" id="certificate-container">
    <div class="usa-label">Certificates</div>

    <p>
      <% I18n.t('service_provider_form.certificate') =%>
    </p>


    <% service_provider.certificates.each do |certificate| %>
      <%= render 'certificate', certificate: certificate do %>
        <div class="usa-alert usa-alert--warning usa-alert--no-icon" >
          <div class="usa-alert__text">
            <%= check_box_tag "service_provider[remove_certificates][#{certificate.serial}]",
                              certificate.serial,
                              false,
                              name: "service_provider[remove_certificates][]",
                              class: 'usa-checkbox__input' %>
            <%= content_tag :label,
                            for: "service_provider_remove_certificates_#{certificate.serial}",
                            class: 'usa-checkbox__label' do %>
              Remove this certificate
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class="lg-card margin-top-2">
      <label class="usa-label margin-top-0" for="service_provider_cert">
        Upload a new public cert
      </label>

      <div class="clearfix">
        <span class="usa-error-message js-pem-input-error-message">
          <%= service_provider.errors[:certs].to_sentence.presence %>
        </span>
        <%= form.file_field :cert, class: 'input-file js-pem-input' %>
        <label class="usa-button file-input-button" for="service_provider_cert">
          Choose a cert file
        </label>
        <div class="margin-top-4 js-pem-file-name"></div>
      </div>

      <div class="margin-top-2">
        <p>
          Take a look at our developer documentation for
          <a href="https://developers.login.gov/testing/#creating-a-public-certificate">
          how to generate a public-private key pair</a>.
        </p>
        <p>
          Certificate must be
          <a href="https://en.wikipedia.org/wiki/Privacy-enhanced_Electronic_Mail" target="_blank">PEM encoded</a>,
          like this example:
        </p>
        <pre><code>-----BEGIN CERTIFICATE-----
MIIDXTCCAkWgAwIBAgIJAJC1HiIAZAiIMA0GCSqGSIb3Df
BAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVx
B7xxt8BVc69rHV15A0qyx77CLSj3tCx2IUXVqRs5mlvA==
-----END CERTIFICATE-----</code></pre>
      </div>
    </div>
  </fieldset>

  <div class='saml-fields'>
    <%= form.input :acs_url,
                   input_html: { class: 'usa-input' },
                   label: 'Assertion Consumer Service URL',
                   hint: I18n.t('service_provider_form.assertion_consumer_service_url').html_safe %>

    <%= form.input :assertion_consumer_logout_service_url,
                   input_html: { class: 'usa-input' },
                   label: 'Assertion Consumer Logout Service URL',
                   hint: I18n.t('service_provider_form.assertion_consumer_logout_service_url').html_safe %>

    <%= form.input :sp_initiated_login_url,
                   input_html: { class: 'usa-input' },
                   label: 'SP Initiated Login URL',
                   hint: I18n.t('service_provider_form.sp_initiated_login_url').html_safe %>

    <%= form.input :block_encryption,
                   input_html: { class: 'usa-select' },
                   label: 'SAML Assertion Encryption',
                   include_blank: false,
                   hint: I18n.t('service_provider_form.saml_assertion_encryption') %>

    <legend class='usa-sr-only'>Signed Response Message Requested</legend>
    <%= form.label :signed_response_message_requested,
                  label: 'Signed Response Message Requested',
                  class: 'usa-label',
                  hint: I18n.t('service_provider_form.signed_response_requested').html_safe %>
    <%= form.collection_radio_buttons(:signed_response_message_requested,
                                      { "Yes" => true, "No" => false },
                                      :last, :first,
                                      collection_wrapper_tag: :ul,
                                      collection_wrapper_class: 'usa-input-list',
                                      item_wrapper_tag: :li) do |b| %>
      <%=  b.radio_button(class: "usa-radio__input") %>
      <%=  b.label(class: "usa-radio__label")%>
    <% end %>  
  </div>

  <div class='saml-fields'>
    <%= form.input :return_to_sp_url,
                  input_html: { class: 'usa-input' },
                  label_html: { class: 'usa-input-required'},
                  label: 'Return to App URL',
                  required: true,
                  hint: I18n.t('service_provider_form.return_to_app_url').html_safe %>
  </div>
  <%= form.input :failure_to_proof_url,
                 input_html: { class: 'usa-input' },
                 label: 'Failure to Proof URL',
                 hint: I18n.t('service_provider_form.failure_to_proof_url') %>
  <%= form.input :push_notification_url,
                 input_html: { class: 'usa-input' },
                 label: 'Push notification URL',
                 hint: I18n.t('service_provider_form.push_notification_url') %>

  <%# BEGIN redirect_uris %>
    <div class='oidc-fields'>
      <%= form.label :redirect_uris,
                     label: 'Redirect URIs',
                     class: 'usa-label' %>
    </div>

    <div class='saml-fields'>
      <%= form.label :redirect_uris,
                     label: 'Additional Redirect URIs',
                     class: 'usa-label' %>
    </div>

    <%= content_tag :div, class: 'mb2 json optional service_provider_redirect_uris' do -%>
      <% redirect_uri_list.each do |value| %>
        <%= text_field_tag 'service_provider[redirect_uris][]',
                           value,
                           id: 'service_provider_redirect_uris',
                           class: 'block col-12 json optional usa-input',
                           multiple: 'multiple' %>
      <% end %>
    <% end %>

    <div class='oidc-fields'>
      <%= I18n.t('service_provider_form.oidc_redirects').html_safe %>
    </div>

    <div class='saml-fields margin-0'>
      <%= form.hint I18n.t('service_provider_form.saml_redirects').html_safe %>
    </div>

    <%= form.button :button,
                    'Add another URI',
                    type: 'button',
                    id: 'add-redirect-uri-field',
                    class: 'usa-button margin-bottom-4' %>
  <%# END redirect_uris %>

  <legend class='usa-sr-only'>Active</legend>
  <%= form.label :admin,
                 label: 'Active',
                 class: 'usa-label',
                 hint: I18n.t('service_provider_form.active').html_safe %>
  <%= form.collection_radio_buttons(:active,
                                    { "Yes" => true, "No" => false },
                                    :last, :first,
                                    collection_wrapper_tag: :ul,
                                    collection_wrapper_class: 'usa-input-list',
                                    item_wrapper_tag: :li) do |b| %>
    <%=  b.radio_button(class: "usa-radio__input") %>
    <%=  b.label(class: "usa-radio__label")%>
  <% end %>

  <fieldset class="usa-fieldset-inputs custom-help-text">
    <legend>Custom help text</legend>
    <p>You can specify help text in these different areas to alert users of important information for logging into your app</p>
    <%= form.fields_for :help_text do |h| %>
      <br><legend><b>Sign-in help text:</b></legend>
      <%= h.input "sign_in[en]", label: "English", as: :text, required: false, input_html: { value: service_provider.help_text.dig("sign_in", "en") } %>
      <%= h.input "sign_in[es]", label: "Español", as: :text, required: false, input_html: { value: service_provider.help_text.dig("sign_in", "es") } %>
      <%= h.input "sign_in[fr]", label: "Français", as: :text, required: false, input_html: { value: service_provider.help_text.dig("sign_in", "fr") } %>

      <br><legend><b>Sign-up help text:</b></legend>
      <%= h.input "sign_up[en]", label: "English", as: :text, required: false, input_html: { value: service_provider.help_text.dig("sign_up", "en") } %>
      <%= h.input "sign_up[es]", label: "Español", as: :text, required: false, input_html: { value: service_provider.help_text.dig("sign_up", "es") } %>
      <%= h.input "sign_up[fr]", label: "Français", as: :text, required: false, input_html: { value: service_provider.help_text.dig("sign_up", "fr") } %>

      <br><legend><b>Forgot password help text:</b></legend>
      <%= h.input  "forgot_password[en]", label: "English", as: :text, required: false, input_html: { value: service_provider.help_text.dig("forgot_password", "en") } %>
      <%= h.input "forgot_password[es]", label: "Español", as: :text, required: false, input_html: { value: service_provider.help_text.dig("forgot_password", "es") } %>
      <%= h.input "forgot_password[fr]", label: "Français", as: :text, required: false, input_html: { value: service_provider.help_text.dig("forgot_password", "fr") } %>
    <% end %>
  </fieldset>
</fieldset>
