<div class="grid-container border-05 border-base-lightest radius-lg padding-bottom-2 margin-bottom-5">
  <div class="display-flex flex-column flex-align-center">
    <h2 class="font-sans-lg text-primary"><%= t('call_to_action.ready_to_deploy') %></h2>
    <p class="margin-top-0"><%= t('call_to_action.review_changes') %></p>
    <div class="grid-row"> 
      <a class="usa-button usa-button--outline align-center usa-link usa-link--external text-primary text-no-underline" target="_blank" href="https://developers.login.gov/production"><%= t('call_to_action.read_process') %></a>
        <button class="usa-button align-center usa-dark-background" aria-controls="additional-data-modal" data-open-modal><%= t('call_to_action.submit_request') %></button>
    </div>
    <div class="grid-row margin-top-2 usa-alert measure-5 usa-alert--warning">
      <p class="usa-alert__body margin-05">
        <%= t('call_to_action.two_weeks') %>
      </p>
    </div>
  </div>
</div>

<%= render partial: 'prod_promotion_request_form' %>
