<tr>
  <th scope="row">
    <%= link_to(app.friendly_name, service_provider_path(app), class: 'usa-link') %>
  </th>
  <td class="text-wrap"><%= app.issuer %></td>
  <td><%= app.ial_friendly %></td>
  <% if !app.prod_config %>
    <% if app.active? %>
      <td><%= image_tag 'alerts/success.svg', alt: 'Accessible', title: 'Accessible', height: '27', width: '27' %></td>
    <% else %>
      <td><%= image_tag 'alerts/error.svg', alt: 'Inaccessible', title: 'Inaccessible', height: '27', width: '27' %></td>
    <% end %>
  <% end %>
  <%= render partial: 'certificate_expiration_td', locals: { app: app } %>
  <% if show_created_at %>
    <td><%= app.created_at.localtime.strftime("%F %T") %></td>
  <% end %>
  <% if show_analytics_column? %>
    <td><%= link_to(app.friendly_name+" data", analytics_path(app.id), class: 'usa-link') %></td>
  <% end %>
</tr>
