<%# Modals home

  expected locals:
    @param [String] destination_url a url to POST to that could erase the current work in progress

  # This partial should be included at the bottom of a page so that
  # 1. The user doesn't see redraw flickering as the USWDS JS runs
  # 2. If the USWDS JS fails, in-document anchor tag links might still work 
%>

<div
  class="usa-modal measure-2"
  id="wizard-modal"
  aria-labelledby="wizard-modal-heading"
  aria-describedby="wizard-modal-description">
    <div class="usa-modal__content">
    <div class="usa-modal__main">
      <h2 class="usa-modal__heading" id="wizard-modal-heading">
        Continue setting up your previous application?
      </h2>
      <p id="wizard-modal-description">
        It looks like you already started setting up a Login.gov application. Would you like to continue or start over?
      </p>
      <div class="usa-modal__footer">
        <ul class="usa-button-group flex-no-wrap">
          <li class="usa-button-group__item">
            <%= link_to(
              "Continue application",
              service_config_wizard_path(ServiceConfigWizardController::STEPS[1]),
              class: 'usa-button',
              ) %>
          </li>
          <li class="usa-button-group__item">
            <a
              type="button"
              class="usa-button usa-button--outline text-center"
              data-close-modal
              data-open-modal
              href='#clear-wizard-modal'
              aria-controls="clear-wizard-modal"
            >
              Start a new application
            </a>
          </li>
        </ul>
      </div>
    </div>
    <button
      type="button"
      class="usa-button usa-modal__close"
      aria-label="Close this window"
      data-close-modal
    >
      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
        <use xlink:href="<%= asset_path 'sprite.svg#close' %>"</use>
      </svg>
    </button>
  </div>
</div>
<div
  class="usa-modal"
  id="clear-wizard-modal"
  aria-labelledby="clear-wizard-modal-heading"
  aria-describedby="clear-wizard-modal-description">
  <div class="usa-modal__content">
    <div class="usa-modal__main">
      <h2 class="usa-modal__heading" id="clear-wizard-modal-heading">
        Create a new application?
      </h2>
      <p id="clear-wizard-modal-description">
        Your previous in-progress application will be lost.
      </p>
      <div class="usa-modal__footer">
        <ul class="usa-button-group">
          <li class="usa-button-group__item">
            <%= form_for :wizard_step, url: destination_url do |f| %>
              <%= f.submit 'Create a new application', class: 'usa-button' %>
            <% end %>
          </li>
          <li class="usa-button-group__item">
            <button
              type="button"
              class="usa-button usa-button--outline text-center"
              data-close-modal
            >
              Go back
            </button>
          </li>
        </ul>
      </div>
    </div>
    <button
      type="button"
      class="usa-button usa-modal__close"
      aria-label="Close this window"
      data-close-modal
    >
      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
        <use xlink:href="<%= asset_path 'sprite.svg#close' %>"</use>
      </svg>
    </button>
  </div>
</div>
