<h1>Apps</h1>

<%= button_to t('forms.buttons.trigger_idp_refresh'), api_service_providers_path, method: :post %>

<table class="usa-table-borderless">
  <thead>
    <tr>
      <th scope="col">Friendly name</th>
      <th scope="col">Issuer</th>
      <th scope="col">Active</th>
      <th scope="col">Created</th>
      <th scope="col">In Production</th>
    </tr>
  </thead>
  <tbody>
    <% @service_providers.each do |app| %>
    <tr>
      <th scope="row"><%= link_to(app.friendly_name, service_provider_path(app)) %></th>
      <td><%= app.issuer %></td>
      <td><%= app.active? ? '✔' : '❌' %></td>
      <td><%= app.created_at.localtime.strftime("%F %T") %></td>
      <td><%= app.production_issuer.present? ? '✔' : '❌' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
