
<div class="usa-display">Apps</div>

<%= button_to t('forms.buttons.trigger_idp_refresh'), api_service_providers_path, method: :post, :class => "usa-button" %>


<table class="usa-table-borderless">
  <thead>
    <tr>
      <th scope="col">Friendly name</th>
      <th scope="col">Issuer</th>
      <th scope="col">IAL</th>
      <th scope="col">Active</th>
      <th scope="col">Cert Exp</th>
      <th scope="col">Created</th>
      <th scope="col">In Production</th>
    </tr>
  </thead>
  <tbody>
    <% @service_providers.each do |app| %>
    <tr>
      <th scope="row">
      <%= link_to(app.friendly_name, service_provider_path(app), class: 'usa-link') %>
      </th>
      <td class="text-wrap"><%= app.issuer %></td>
      <td><%= app.ial_friendly %></td>
      <td><%= image_tag app.active? ? 'img/alerts/success.svg' : 'img/alerts/error.svg', height: '27', width: '27' %></td>
      <%= render partial: 'certificate_expiration_td', locals: { app: app } %>
      <td><%= app.created_at.localtime.strftime("%F %T") %></td>
      <td><%= image_tag app.production_issuer.present? ? 'img/alerts/success.svg' : 'img/alerts/error.svg', height: '27', width: '27'  %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="grid-row border-y-1px border-primary-light padding-105">
  <div class="desktop:grid-col-6 tablet:grid-col-6 mobile:grid-col-12">
  <!--- TODO style this link --->
      <a class="prose usa-link text-bold text-no-underline" href="#print-guidance">Print Guidance</a>
      <br>
      <p class="margin-0">Will track monthly new user sign-ups. Important for invoicing and establishing growth trends</p>
</div>
 <!--- TODO style the data stamps and other metadata --->
  <div class="desktop:grid-col-6 tablet:grid-col-6 mobile:grid-col-12">
    <p class="font-mono-3xs display-flex row-reverse-tablet text-align-right-tablet">
    Created on 10/29/2019 at 6:50 PM.<br class="hidden-tablet"> <span class="hidden-mobile">|</span>Certificate Expires on 11/2/2020 at 08:00 AM.</p>
    <span class="display-flex row-reverse-tablet">
      <span class="usa-tag">Tag/Pill</span>
      <span class="usa-tag">Tag text long</span>
      <span class="usa-tag">Pill</span>
    </span>
  </div>
</div>
<div class="grid-row border-bottom border-primary-light padding-105">
  <div class="desktop:grid-col-6 tablet:grid-col-6 mobile:grid-col-12 ">
      <a class="prose usa-link text-bold text-no-underline" href="#print-guidance">Print Guidance</a>
      <br>
      <button class="usa-button usa-button--inverse usa-button--tiny">https://federationstage.nih.gov/FederationGateway</button>
</div>
    <div class="desktop:grid-col-6 tablet:grid-col-6 mobile:grid-col-12 display-flex flex-wrap flex-justify-end">
    <p class="font-mono-3xs">Created on 10/29/2019 at 6:50 PM | Certificate Expires on 11/2/2020 at 08:00 AM</p>
     <span class="usa-tag">Tag/Pill</span>
    <span class="usa-tag">Tag text long</span>
    <span class="usa-tag">Pill</span>
  </div>
</div>