
<div class="usa-display">Apps</div>

<%= button_to t('forms.buttons.trigger_idp_refresh'), api_service_providers_path, method: :post, :class => "usa-button" %>


<table class="usa-table-borderless">
  <thead>
    <tr>
      <th scope="col">Friendly name</th>
      <th scope="col">Issuer</th>
      <th scope="col">IAL</th>
      <th scope="col">Active</th>
      <th scope="col">Created</th>
      <th scope="col">In Production</th>
    </tr>
  </thead>
  <tbody>
    <% @service_providers.each do |app| %>
    <tr>
      <th scope="row">
      <%= link_to(app.friendly_name, service_provider_path(app), class: 'usa-link') %>
      </th>
      <td><%= app.issuer %></td>
      <td><%= app.ial_friendly %></td>
      <td><%= image_tag app.active? ? '/assets/img/alerts/success.svg' : '/assets/img/alerts/error.svg', style: 'height:27px;width:27px;' %></td>
      <td><%= app.created_at.localtime.strftime("%F %T") %></td>
      <td><%= image_tag app.production_issuer.present? ? '/assets/img/alerts/success.svg' : '/assets/img/alerts/error.svg', style: 'height:27px;width:27px;'  %></td>
    </tr>
    <% end %>
  </tbody>
</table>
