
<h1 class="usa-display">Production Apps</h1>

<%= button_to t('forms.buttons.trigger_idp_refresh'), api_service_providers_path, method: :post, :class => "usa-button" %>


<% prod_apps = @service_providers.select { |sp| sp.prod_config == true } %>
<% unless prod_apps.blank? %>
<table class="usa-table">
  <%= render partial: 'service_provider_table_header', locals: { show_created_at: true } %>
  <tbody>
    <% prod_apps.each do |app| %>
      <%= render partial: 'service_provider_table_row', locals: { app: app, show_created_at: true } %>
    <% end %>
  </tbody>
</table>
<% else %>
  <h2>No apps to show.</h2>
<% end %>

<h1 class="usa-display">Non-Production Apps</h1>

<% non_prod_apps = @service_providers.select { |sp| sp.prod_config == false } %>
<% unless non_prod_apps.blank? %>
<table class="usa-table">
  <%= render partial: 'service_provider_table_header', locals: { show_created_at: true } %>
  <tbody>
    <% non_prod_apps.each do |app| %>
      <%= render partial: 'service_provider_table_row', locals: { app: app, show_created_at: true } %>
    <% end %>
  </tbody>
</table>
<% else %>
  <h2>No apps to show.</h2>
<% end %>