<h1>Editing "<%= service_provider.friendly_name %>"</h1>

<%= simple_form_for(service_provider, html: { autocomplete: 'off', role: 'form' }) do |form| %>
  <% selected_group = @service_provider.group_id %>
  <%= render 'form', form: form, selected_group: selected_group %>
    <br><br>
    <%= form.button :submit, 'Update',
        class: 'fma0 fmr1 fl' %>
    <%= link_to t('forms.buttons.cancel'), service_provider_path(service_provider),
        class: 'usa-button usa-button-secondary ma0 pa135', role: :button %>

<% end %>
