
<div class="usa-display">Editing "<%= service_provider.friendly_name %>"</div>

<%= simple_form_for(service_provider, html: { autocomplete: 'off', role: 'form', class: 'service-provider-form usa-form usa-form--large' }) do |form| %>
  <% selected_group = @service_provider.group_id %>
  <%= render 'form', form: form, selected_group: selected_group %>
    <br><br>
    <%= form.button :submit, 'Update',
        class: 'usa-button' %>
    <%= link_to t('forms.buttons.cancel'), service_provider_path(service_provider),
        class: 'usa-button usa-button--outline', role: :button %>
<% end %>

