<% content_for(:title, 'Edit Configuration') %>
<h1 class="usa-display">Editing "<%= service_provider.friendly_name %>"</h1>

<%= simple_form_for(service_provider, html: { autocomplete: 'off', class: 'service-provider-form usa-form usa-form--large' }) do |form| %>
  <% selected_team = @service_provider.group_id %>
  <%= render 'form', form: form, selected_team: selected_team %>
    <br><br>
    <%= form.button :submit, 'Update',
        class: 'usa-button' %>
    <%= link_to t('forms.buttons.cancel'), service_provider_path(service_provider),
        class: 'usa-button usa-button--outline', role: :button %>
<% end %>

