
<div class="usa-display">My apps</div>

<%= button_to t('headings.service_providers.new_app'), new_service_provider_path, method: :get, :class => "usa-button" %>

<table class="usa-table-borderless">
  <thead>
    <tr>
      <th scope="col">Friendly name</th>
      <th scope="col">Issuer</th>
      <th scope="col">IAL</th>
      <th scope="col">Active</th>
      <th scope="col">Cert Exp</th>
    </tr>
  </thead>
  <tbody>
    <% current_user.scoped_service_providers.each do |app| %>
    <tr>
      <th scope="row"><%= link_to(app.friendly_name, service_provider_path(app), :class => 'usa-link' ) %></th>
      <td class="text-wrap"><%= app.issuer %></td>
      <td><%= app.ial_friendly %></td>
      <td><%= image_tag app.active? ? 'img/alerts/success.svg' : 'img/alerts/error.svg', height: '27', width: '27', :class =>'margin-bottom-neg-105' %></td>
      <%= render partial: 'certificate_expiration_td', locals: { app: app } %>
    </tr>
    <% end %>
  </tbody>
</table>
