<!-- 
Karla Rodriguez
added title from style guide
-->
<div class="usa-display">My apps</div>
<!--changed link to button removed <%= link_to 'Create a new test app', new_service_provider_path %> -->
<!--removed icon not in design system 🚀-->

<%= button_to t('headings.service_providers.new_app'), new_service_provider_path, method: :get, :class => "usa-button" %>

<table class="usa-table-borderless">
  <thead>
    <tr>
      <th scope="col">Friendly name</th>
      <th scope="col">Issuer</th>
      <th scope="col">IAL</th>
      <th scope="col">Active</th>
    </tr>
  </thead>
  <tbody>
    <% current_user.scoped_service_providers.each do |app| %>
    <tr>
      <th scope="row"><%= link_to(app.friendly_name, service_provider_path(app)) %></th>
      <td><%= app.issuer %></td>
      <td><%= app.ial_friendly %></td>
      <td><%= image_tag app.active? ? '/assets/img/alerts/success.svg' : '/assets/img/alerts/error.svg', style: 'height:27px;width:27px;' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
