<h1 class="usa-display">Config Migration Tool</h1>

<%= form_with scope: :validation do |form| %>
  <div class="usa-form--large">
    <fieldset class="usa-fieldset">
      <legend class="usa-label usa-input-required">Search by</legend>
      <%= form.collection_radio_buttons(:team_search,
                                       { "Teams" => true, "Issuers" => false},
                                       :last, :first) do |b| %>
        <div class="usa-radio">                                       
          <%= b.radio_button(class: "usa-radio__input") %>
          <%= b.label(class: "usa-radio__label") %>
        </div>
      <% end %>
    </fieldset>
    <%= form.label :migrate_criteria,
                   "List of issuers/teams",
                   class: "usa-label" %>
    <%= form.text_area :migrate_criteria,
                       class: "block col-12 usa-textarea",
                       required: true %>

    <div class="margin-top-2">
      <%= form.submit 'Extract configs', :class => "usa-button" %>
    </div>
  </div>
<% end %>
