<h1 class="usa-display">Config Migration Tool</h1>

<%= form_with scope: :validation do |form| %>
  <div class="usa-form--large">
    <%= form.label :ticket,
                   "Ticket number*",
                   class: "usa-label required usa-input-required" %>
    <p class="usa-hint">This should be a unique identifier, the date and time is okay if you don't have a ticket (ie, 250917-1542).</p>              
    <%= form.text_field :ticket,
                        class: "usa-input",
                        required: true %>
    <fieldset class="usa-fieldset margin-top-4">
      <legend class="usa-label required usa-input-required">Search by*</legend>
      <%= form.collection_radio_buttons(:team_search,
                                       { "Teams" => true, "Issuers" => false},
                                       :last, :first,
                                       checked: true) do |b| %>
        <div class="usa-radio">                                       
          <%= b.radio_button(class: "usa-radio__input") %>
          <%= b.label(class: "usa-radio__label") %>
        </div>
      <% end %>
    </fieldset>
    <div class="usa-form-group migrate_criteria">
      <label class="usa-label optional" id="criteria-input-label">Teams or issuers file</label>
        <span class="<%#= 'usa-error-message' if service_provider.errors[:criteria_file].present? %> js-bundle-input-error-message">
          <%#= service_provider.errors[:criteria_file].to_sentence.presence %>
        </span>
      <%= form.file_field :criteria_file,
                          class: "usa-file-input",
                          id: "criteria-input-file",
                          aria: { describedby: "criteria-input-label"},
                          accept: "text/plain" %>
    </fieldset>
    <%= form.label :migrate_criteria,
                   "List of teams/issuers",
                   class: "usa-label optional" %>
    <p class="usa-hint">Comma- or space-separated list of teams or issuers to migrate</p>
    <%= form.text_area :migrate_criteria,
                       class: "block col-12 usa-textarea",
                       required: true %>

    <div class="margin-top-2">
      <%= form.submit 'Extract configs', :class => "usa-button" %>
    </div>
  </div>
<% end %>
