<%= link_to 'Back to apps', '/service_providers', :class => 'usa-link' %>


<div class="usa-display">Details for "<%= service_provider.friendly_name %>"</div>

<h4><label for="name">Friendly name:</label></h4>
<p class="font-mono-xs margin-top-0" name="name"><%= service_provider.friendly_name %></p>

<h4><label for="description">Description:</label></h4>
<p class="font-mono-xs margin-top-0" name="description"><%= service_provider.description %></p>

<h4><label for="agency">Agency:</label></h4>
<p class="font-mono-xs margin-top-0" name="agency"><%= service_provider&.agency&.name %></p>

<h4><label for="group">Team:</label></h4>
<p class="font-mono-xs margin-top-0" name="agency"><%= service_provider.group %></p>

<h4><label for="identity_protocol">Identity protocol:</label></h4>
<p class="font-mono-xs margin-top-0" name="identity_protocol"><%= service_provider.identity_protocol %></p>

<h4><label for="ial_friendly">Identity verification level (IAL):</label></h4>
<p class="font-mono-xs margin-top-0" name="ial_friendly"><%= service_provider.ial_friendly %></p>

<h4><label for="issuer">Issuer:</label></h4>
<p class="font-mono-xs margin-top-0" name="issuer"><%=  service_provider.issuer %></p>

    <% if current_user.admin? %>
      <h4><label for="production_issuer">Production Issuer:</label></h4>
      <p class="font-mono-xs margin-top-0" name="production_issuer"><%=  service_provider.production_issuer %></p>
    <% end %>

<h4><label for="logo">Logo:</label></h4>
<p class="font-mono-xs margin-top-0" name="logo"><a href="https://github.com/18F/identity-idp/tree/master/app/assets/images/sp-logos/<%= service_provider.logo %>" class="usa-link"><%= service_provider.logo %></a></p>

    <% if service_provider.identity_protocol == 'saml' %>
    <h4><label for="acs_url">Assertion Consumer Service URL:</label></h4>
<p class="font-mono-xs margin-top-0" name="acs_url"><%= service_provider.acs_url %></p>

<h4><label for="assertion_consumer_logout_service_url">Assertion Consumer Logout Service URL:</label></h4>
<p class="font-mono-xs margin-top-0" name="assertion_consumer_logout_service_url"><%= service_provider.assertion_consumer_logout_service_url %></p>

<h4><label for="assertion_consumer_logout_service_url">SP Initiated Login URL:</label></h4>
<p class="font-mono-xs margin-top-0" name="assertion_consumer_logout_service_url"><%= service_provider.sp_initiated_login_url %></p>

<h4><label for="block_encryption">SAML Assertion Encryption:</label></h4>
<p class="font-mono-xs margin-top-0" name="block_encryption"><%= service_provider.block_encryption %></p>
    <% end %>


<h4><label for="saml_client_cert">Public certificate:</label></h4>
<pre><code><%= service_provider.saml_client_cert %></code></pre>
        <% unless service_provider.saml_client_cert.blank? %>
        <p class="font-mono-xs margin-top-0" name="saml_client_cert">Expires:
        <%= render partial: 'certificate_expiration', locals: { app: service_provider } %></p>
        <% end %>

<h4><label for="return_to_sp_url">Return to App URL:</label></h4>
<p class="font-mono-xs margin-top-0" name="return_to_sp_url"><%= service_provider.return_to_sp_url %></p>

<h4><label for="failure_to_proof_url">Failure to Proof URL:</label></h4>
<p class="font-mono-xs margin-top-0" name="failure_to_proof_url"><%= service_provider.failure_to_proof_url %></p>

<h4><label for="push_notification_url">Push Notification URL:</label></h4>
<p class="font-mono-xs margin-top-0" name="push_notification_url"><%= service_provider.push_notification_url %></p>

    <% if service_provider.identity_protocol == 'openid_connect' %>
        <h4><label for="uris">Redirect URIs</label></h4>
    <% end %>
    <% if service_provider.identity_protocol == 'saml' %>
        <h4><label for="uris">Additional Redirect URIs</label></h4>
    <% end %>
    <p class="font-mono-xs margin-top-0" name="uris"><%= (service_provider.redirect_uris || []).sort.join('<br>').html_safe %></p>

<h4><label for="attribute_bundle">Attribute bundle:</label></h4>
<p class="font-mono-xs margin-top-0" name="attribute_bundle"><%= (service_provider.attribute_bundle || []).sort.join(', ') %></p>

<h4><label for="active">Active</label></h4>
<p class="font-mono-xs margin-top-0" name="active"><%= image_tag service_provider.active? ? 'img/alerts/success.svg' : 'img/alerts/error.svg', height: '27', width: '27', :class =>'margin-bottom-neg-105' %></p>

<% if current_user.admin? %>
<h4><label for="service_provider_yaml">Service Provider config as YAML</label></h4>
<p class="font-mono-xs margin-top-0" name="service_provider_yaml"><%= render 'service_provider_yaml' %></p>
    <%end %>

<%= button_to t('forms.buttons.edit_service_provider'),
    edit_service_provider_path(service_provider),
    class: 'usa-button float-left',
    method: :get %>

<%= button_to t('forms.buttons.delete_service_provider'),
  service_provider_path(service_provider),
  class: 'usa-button usa-button--outline float-left',
  method: :delete, data: { confirm: 'Are you sure you want to delete this app? This cannot be undone.' } %>
