<%= link_to 'Back to apps', '/service_providers', :class => 'usa-link' %>

<h1 class="usa-display">Details for "<%= service_provider.friendly_name %>"</h1>

<h2 class="margin-bottom-0">
  <label for="identity_protocol">Production Configuration:</label>
  <span class="font-mono-xs margin-left-5"><%= service_provider.prod_config ? 'Yes' : 'No' %></span>
</h2>
<p><i> <%= I18n.t('service_provider_form.prod_config') %> </i></p>
<hr>

<h2 class="margin-bottom-0">
  <label for="name">App name: </label>
  <span class="font-mono-xs margin-left-5"><%= service_provider.app_name %></span>
</h2>
<p><i> <%= sanitize I18n.t('service_provider_form.app_name') %> </i></p>
<hr>

<h2 class="margin-bottom-0">
  <label for="name">Friendly name:</label>
  <span class="font-mono-xs margin-left-5"><%= service_provider.friendly_name %></span>
</h2>
<p><i> <%= sanitize I18n.t('service_provider_form.friendly_name') %> </i></p>
<hr>

<h2 class="margin-bottom-0">
  <label for="description">Description:</label>
  <span class="font-mono-xs margin-left-5"><%= service_provider.description %></span>
</h2>
<p><i> <%= I18n.t('service_provider_form.description') %> </i></p>
<hr>

<h2 class="margin-bottom-0">
  <label for="agency">Agency:</label>
  <span class="font-mono-xs margin-left-5"><%= service_provider&.agency&.name %></span>
</h2>
<hr>

<% if service_provider.team.present? %>
  <h2 class="margin-bottom-0">
    <label for="team">Team:</label>
    <span class="font-mono-xs margin-left-5"><%= link_to service_provider.team, service_provider.team %></span>
  </h2>
  <p><i> <%= I18n.t('service_provider_form.team') %> </i></p>
<% end %>
<hr>

<h2 class="margin-bottom-0">
  <label for="identity_protocol">Identity Protocol:</label>
  <span class="font-mono-xs margin-left-5"><%= service_provider.identity_protocol %></span>
</h2>
<p><i> <%= I18n.t('service_provider_form.protocol') %> </i></p>
<hr>

<h2 class="margin-bottom-0">
  <label for="ial_friendly">Level of Service:</label>
  <span class="font-mono-xs margin-left-5"><%= service_provider.ial_friendly %></span>
</h2>
<p><i> <%= I18n.t('service_provider_form.identity_assurance_level').html_safe %> </i></p>
<hr>

<h2 class="margin-bottom-0">
  <label for="aal_friendly">Default Authentication Assurance Level (AAL):</label>
  <span class="font-mono-xs margin-left-5"><%= service_provider.aal_friendly %></span>
</h2>
<hr>

<h2 class="margin-bottom-0">
  <label for="issuer">Issuer:</label>
  <span class="font-mono-xs margin-left-5"><%= service_provider.issuer %></span>
</h2>
<p><i> <%= I18n.t('service_provider_form.change_issuer') %> </i></p>
<p><i> <%= I18n.t('service_provider_form.issuer').html_safe %> </i></p>
<hr>

<% if current_user.admin? %>
  <h2 class="margin-bottom-0">
  <label for="production_issuer">Production Issuer:</label>
  <span class="font-mono-xs margin-left-5"><%= service_provider.production_issuer %></span>
  </h2>
  <hr>
  <%= render partial: 'allow_prompt_login', locals: { service_provider: service_provider } %>
  <hr>
  <%= render partial: 'email_nameid_format_allowed', locals: { service_provider: service_provider } %>
  <hr>
<% elsif service_provider.allow_prompt_login? %>
  <%= render partial: 'allow_prompt_login', locals: { service_provider: service_provider } %>
  <hr>
<% end %>

<%# Temp hack to allow feature in dev but not int for testing %>
<% if IdentityConfig.store.logo_upload_enabled %>
  <h2 class="margin-bottom-0"><label for="logo_file">Uploaded Logo:</label></h2>
  <% if service_provider.logo_file.attached? %>
    <p class="font-mono-xs margin-top-0 margin-left-5" name="logo_file">
      <%= image_tag url_for(service_provider.logo_file), height: "120px" %>
    </p>
  <% else %>
    <p class="font-mono-xs margin-top-0 margin-left-5" name="logo_file">
      No file Uploaded
    </p>
  <% end %>
<% else %>
  <h2 class="margin-bottom-0"><label for="logo">Logo:</label></h2>
  <p><i> <%= I18n.t('service_provider_form.logo').html_safe %> </i></p>
  <% if service_provider.logo %>
  <p class="font-mono-xs margin-top-0 margin-left-5" name="logo">
    <a href="https://github.com/18F/identity-idp/tree/main/app/assets/images/sp-logos/<%= service_provider.logo %>" class="usa-link">
      <%= service_provider.logo %>
    </a>
  </p>
  <% end %>
<% end %>
<hr>

<% if service_provider.identity_protocol == 'saml' %>
  <h2 class="margin-bottom-0">
    <label for="acs_url">Assertion Consumer Service URL:</label> 
    <span class="font-mono-xs margin-left-5"><%= service_provider.acs_url %></span>
  </h2>
  <p><i> <%= I18n.t('service_provider_form.assertion_consumer_service_url').html_safe %> </i></p>
  <hr>

  <h2 class="margin-bottom-0">
    <label for="assertion_consumer_logout_service_url">Assertion Consumer Logout Service URL:</label> 
    <span class="font-mono-xs margin-left-5"><%= service_provider.assertion_consumer_logout_service_url %></span>
  </h2>
  <p><i> <%= I18n.t('service_provider_form.assertion_consumer_logout_service_url').html_safe %> </i></p>
  <hr>

  <h2 class="margin-bottom-0">
    <label for="assertion_consumer_logout_service_url">SP Initiated Login URL:</label> 
    <span class="font-mono-xs margin-left-5"><%= service_provider.sp_initiated_login_url %></span>
  </h2>
  <p><i> <%= I18n.t('service_provider_form.sp_initiated_login_url').html_safe %> </i></p>
  <hr>

  <h2 class="margin-bottom-0">
    <label for="block_encryption">SAML Assertion Encryption:</label> 
    <span class="font-mono-xs margin-left-5"><%= service_provider.block_encryption %></span>
  </h2>
  <p><i> <%= I18n.t('service_provider_form.saml_assertion_encryption') %> </i></p>
  <hr>

  <h2 class="margin-bottom-0">
    <label for="signed_response_message_requested">Signed Response Message Requested:</label> 
    <span class="font-mono-xs margin-left-5"><%= service_provider.signed_response_message_requested? ? 'Yes' : 'No' %></span>
  </h2>
  <p><i> <%= I18n.t('service_provider_form.signed_response_requested') %> </i></p>
  <hr>
                                                                  
  <h2 class="margin-bottom-0">
    <label for="return_to_sp_url">Return to App URL: </label>
    <span class="font-mono-xs margin-left-5"><%= service_provider.return_to_sp_url %></span>
  </h2>
  <p><i> <%= I18n.t('service_provider_form.return_to_app_url').html_safe %> </i></p>
  <hr>
<% end %>

<h2>
  <label>Public certificates:</label>
</h2>

<% service_provider.certificates.each do |certificate| %>
  <%= render partial: 'certificate', locals: { certificate: certificate } %>
<% end %>

<hr>

<h2 class="margin-bottom-0">
  <label for="failure_to_proof_url">Failure to Proof URL: </label>
  <span class="font-mono-xs margin-left-5"><%= service_provider.failure_to_proof_url %></span>
</h2>
<p><i> <%= I18n.t('service_provider_form.failure_to_proof_url') %> </i></p>
<hr>

<h2 class="margin-bottom-0">
  <label for="push_notification_url">Push Notification URL: </label>
  <span class="font-mono-xs margin-left-5"><%= service_provider.push_notification_url %></span>
</h2>
<p><i> <%= I18n.t('service_provider_form.push_notification_url') %> </i></p>
<hr>

<% if service_provider.oidc? %>
  <h2 class="margin-bottom-0"><label for="uris">Redirect URIs:</label></h2>
  <p><i> <%= I18n.t('service_provider_form.oidc_redirects').html_safe %> </i></p>
  <p class="font-mono-xs margin-top-0 margin-left-5" name="uris"><%= (service_provider.redirect_uris || []).sort.join('<br>').html_safe %></p>
<% else # SAML %>
  <h2><label for="uris">Additional Redirect URIs:</label></h2>
  <p><i> <%= I18n.t('service_provider_form.saml_redirects').html_safe %> </i></p>
  <p class="font-mono-xs margin-top-0 margin-left-5" name="uris"><%= (service_provider.redirect_uris || []).sort.join('<br>').html_safe %></p>
<% end %>
<hr>

<h2 class="margin-bottom-0">
  <label for="attribute_bundle">Attribute bundle:</label> 
  <span class="font-mono-xs margin-left-5"><%= sp_attribute_bundle(service_provider) %></span>
</h2>
<p><i> <%= I18n.t('service_provider_form.attribute_bundle').html_safe %> </i></p>
<hr>

<h2 class="margin-bottom-0">
  <label for="accessible">Accessible:</label>
  <span class="font-mono-xs"><%= service_provider.accessible? ? 'Yes' : 'No' %></span>
</h2>
<p><i> <%= I18n.t('service_provider_form.accessible').html_safe %> </i></p>
<hr>

<% if current_user.admin? %>
  <h2><label for="service_provider_yaml">Service Provider config as YAML</label></h2>
  <p class="font-mono-xs margin-top-0" name="service_provider_yaml">
    <%= render 'service_provider_yaml' %>
  </p>
<% end %>

<%= button_to t('forms.buttons.edit_service_provider'),
    edit_service_provider_path(service_provider),
    class: 'usa-button float-left',
    method: :get %>

<%= button_to t('forms.buttons.delete_service_provider'),
  service_provider_path(service_provider),
  class: 'usa-button usa-button--outline float-left',
  method: :delete, data: { confirm: 'Are you sure you want to delete this app? This cannot be undone.' } %>


<% if current_user.admin? %>
  <div class="usa-accordion">
    <button class="usa-accordion__button margin-top-105" aria-expanded="false" aria-controls="versions">
      <h3 id="versionToggle" class="usa-accordion__heading">Version History (<%= service_provider.versions.count %>) </h3>
    </button>
    <div id="versions" class="usa-accordion__content">
    <% service_provider.versions.reverse.each do |v| %>
      <div class="event">
        <h4 class="margin-0">Action: <%= v.event.capitalize %></h4>
        <h5 class="margin-0">By: <%= v.whodunnit %></h5>
        <h5 class="margin-0">At: <%= v.created_at %></h5>
        <% if v.event != 'create' %>
          <table class="usa-table width-full">
            <thead>
              <tr>
                <th scope="col">Field</th>
                <th scope="col">Previous Value</th>
                <th scope="col">Updated Value</th>
              </tr>
            </thead>
          <% v.object_changes.each do |field, (before, after)| %>
            <% if field != 'updated_at' %>
                <tbody>
                  <tr>
                    <td><%= field %></td>
                    <td><%= before %></td>
                    <td><%= after %></td>
                  </tr>
                </tbody>
            <% end %>
          <% end %>
          </table>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
<% end %>
