
<h1>App <%= @friendly_name %> Analytics Dashboard</h1>

<% @teams.each do |team| %>
  <div><h2><%=  team&.agency&.name %></h2></div>
<% end %>

<div
  id="app"
  data-base-url="<%= request.base_url %>"
  data-start="<%= @start %>"
  data-finish="<%= @finish %>"
  data-ial="<%= @ial %>"
  data-issuer="<%= @issuer %>"
  data-extra="<%= @extra %>"
  data-byAgency = "<%= @by_agency %>"
  data-env = "<%= @env %>"
></div>

<%= javascript_include_tag 'reports', type: 'module', defer: true, 'data-turbo-track': 'reload' %>